openapi: 3.0.0
info:
  description: "REST API for external consumers: the tiden CLI, reporters, and generated\
    \ API clients. Authenticate with an API token (`Authorization: Bearer tfy_...`)\
    \ created in the app UI or via the CLI device-code flow."
  title: Tiden Public API
  version: 1.0.0
servers:
- url: https://api.tiden.ai
security:
- BearerAuth: []
tags:
- description: |-
    AgentService (public): agent-type discovery + config list/get/create/delete
    (the CLI surface). Config update and memory/trigger administration stay in
    api.v1 (web-only).
  name: AgentService
- description: |-
    AgentRetrievalService (public): the retrieval surface for coding agents —
    coverage gaps, per-requirement test context, the requirement graph (impact,
    neighbors, anchors, edges), and feature-context resolution. Read RPCs are
    side-effect free; the edge/attribution writes feed the shift-left graph.
  name: AgentRetrievalService
- description: |-
    AgentRunService (public): start/cancel/inspect agent runs and tail their
    events (the CLI + automation surface). Artifact listing/URLs stay in api.v1
    (web-only).
  name: AgentRunService
- description: |-
    AuthService exposes the session-independent identity surface (whoami +
    onboarding progress). Login/Signup/Refresh/ChangePassword stay in api.v1 —
    they are cookie/credential flows and must never be reachable with an API
    token or on the api host.
  name: AuthService
- description: |-
    BranchService (public): the full branching surface — every method is used by
    the CLI or agent-worker (branch create/list/get, merge preview, merge,
    delete). Moved wholesale from api.v1.
  name: BranchService
- description: |-
    ComponentService (public): list/create/update components (the CLI surface).
    Update is public so the CLI's discover-components (shift-left v3) can backfill
    repository/component_paths on existing components. Get/delete stay in api.v1
    (web-only).
  name: ComponentService
- description: |-
    EnvironmentService (public): the CLI's environment surface. Update stays in
    api.v1 (web-only).
  name: EnvironmentService
- description: |-
    IntentService (public): the backend (engine:"backend") distill path for the
    cross-agent intent pipeline, called by the CLI. Moved wholesale from api.v1.
  name: IntentService
- description: |-
    IntentSessionService (public): the server-side record of a coding-agent
    intent session. UpsertIntentSession is the single mutation entry point for
    the whole session lifecycle (start/refine/materialize/verdict/close
    patches, plus radius drops); Get/List are the read side, and List doubles
    as both the CLI's capability probe for this RPC family (a 404 on the
    collection route means an older server) and the cross-machine "find my
    open session by git branch" lookup. RecordSessionSettlement is the
    distillation-decision write. billing_exempt: this is the CLI's own
    bookkeeping, not a billable product action (AgentRunService precedent).
  name: IntentSessionService
- description: |-
    IssueService (public) is the API-token surface for error tracking: issue
    discovery, occurrence detail with symbolicated stack frames, per-environment
    impact, release regression checks, and status changes — plus the two-phase
    source-map upload the @tiden/telemetry-sourcemaps bundler plugin performs
    from CI.

    Deliberately not here: DSN client-key administration (minting an ingest
    credential), inbound-filter configuration, and the aggregate tiles that back
    the web Issues list and product overview. Those stay web-only in api.v1. The
    SDK-facing event ingest is the separate cmd/ingest process, not proto at all.
  name: IssueService
- description: |-
    ProductService (public): get/list/create products and verify CLI setup.
    Product update/delete and setup-state reads stay in api.v1 (web-only).
  name: ProductService
- description: |-
    QualityGateService (public): the gate's go/no-go decision, reached by the CLI /
    MCP server (tfy_ token) and agent-worker (minted JWT). v1 RPCs are UNARY only —
    streaming verdict updates are deferred until ChainStreamInterceptor is verified
    wired (StreamAgentRun is dead today for that reason; see design doc §13/A1).
  name: QualityGateService
- description: |-
    ReleaseService (public): moved wholesale from api.v1 — releases are a
    CI/SDK-facing surface end to end.
  name: ReleaseService
- description: |-
    RequirementService (public): requirement CRUD for the CLI and agent-worker.
    Move/history/restore stay in api.v1 (web-only).
  name: RequirementService
- description: |-
    TestService (public): test CRUD (incl. update), requirement links, and the
    reporter ingest endpoint. Move/history stay in api.v1 (web-only).
  name: TestService
- description: |-
    TestRunService (public): the CI-reporter and CLI surface for test runs.
    Runs are created by reporters, fed result batches, then completed; the run
    computes its final status once at completion. UpdateTestRun stays in api.v1
    (web-only). billing_exempt: CI ingestion must not bounce off the billing
    gate (AgentRunService precedent).
  name: TestRunService
- description: |-
    WorkspaceService (public) carries only the read the CLI needs to resolve its
    workspace context. Workspace CRUD, membership, and invite administration
    stay in api.v1 (web-only).
  name: WorkspaceService
paths:
  /v1/agent-configs/{agentConfigId}/runs:
    get:
      description: |-
        Returns the config's runs, newest first, with page_size/page_token
        pagination.
      operationId: AgentRunService_ListAgentRuns
      parameters:
      - explode: false
        in: path
        name: agentConfigId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAgentRunsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Lists the runs of an agent configuration.
      tags:
      - AgentRunService
    post:
      description: |-
        Enqueues a new run (status "pending") for execution; the call returns
        without waiting for it to finish. Fails when the
        config is disabled. inputs_override_json overrides the config's
        inputs_json for this run only, without persisting it. Follow progress via
        GetAgentRun or ListAgentRunEvents.
      operationId: AgentRunService_StartAgentRun
      parameters:
      - explode: false
        in: path
        name: agentConfigId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StartAgentRunBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StartAgentRunResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Starts a run of an agent configuration.
      tags:
      - AgentRunService
  /v1/agent-configs/{id}:
    delete:
      description: |-
        Permanently removes the config; scheduled executions stop. Not
        reversible.
      operationId: AgentService_DeleteAgentConfig
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteAgentConfigResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Deletes an agent configuration.
      tags:
      - AgentService
    get:
      description: |-
        Returns the config including inputs_json (parse against the agent type's
        input_schema_json), schedule, and credential references.
      operationId: AgentService_GetAgentConfig
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAgentConfigResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Fetches one agent configuration by id.
      tags:
      - AgentService
  /v1/agent-runs/{id}:
    get:
      description: |-
        Returns the run with its status, trigger, timing, LLM token/cost counters,
        error summary, the branch it produced (if any), and the structured result
        when the run reported one.
      operationId: AgentRunService_GetAgentRun
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAgentRunResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Fetches one agent run by id.
      tags:
      - AgentRunService
  /v1/agent-runs/{id}:cancel:
    post:
      description: |-
        Transitions the run to "cancelled" and records the reason (default
        "cancelled by user"). Only pending/running runs transition; a run that
        already finished is returned unchanged, so the call is safe to retry.
      operationId: AgentRunService_CancelAgentRun
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelAgentRunBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelAgentRunResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Cancels a pending or running agent run.
      tags:
      - AgentRunService
  /v1/agent-runs/{runId}/events:
    get:
      description: |-
        Returns the run's timestamped events (level, kind, message, structured
        data) with page_size/page_token pagination — the polling alternative to
        StreamAgentRun.
      operationId: AgentRunService_ListAgentRunEvents
      parameters:
      - explode: false
        in: path
        name: runId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAgentRunEventsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Lists the event log of an agent run.
      tags:
      - AgentRunService
  /v1/agent-runs/{runId}/events:stream:
    get:
      description: |-
        Server-streams AgentRunEvent messages for the run, resuming after
        after_event_id when set (empty streams from the beginning). Over REST the
        gateway delivers the stream as chunked newline-delimited JSON.
      operationId: AgentRunService_StreamAgentRun
      parameters:
      - explode: false
        in: path
        name: runId
        required: true
        schema:
          type: string
        style: simple
      - description: resume from this event id (cursor); empty starts from the beginning.
        explode: true
        in: query
        name: afterEventId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Stream_result_of_AgentRunEvent"
          description: A successful response.(streaming responses)
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Streams an agent run's events as they happen.
      tags:
      - AgentRunService
  /v1/agent-types:
    get:
      description: |-
        Returns every code-defined agent capability with its input JSON Schema
        (input_schema_json), supported LLM providers, per-provider default models,
        and whether it needs a data credential or produces a branch. The catalog
        is global — not product-scoped.
      operationId: AgentService_ListAgentTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAgentTypesResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Lists the catalog of available agent types.
      tags:
      - AgentService
  /v1/auth/me:
    get:
      description: |-
        Resolves the caller from the presented credential (API token or session)
        and returns the user's id, email, name, and avatar URL. The CLI uses it
        to verify that a token is valid and who it belongs to.
      operationId: AuthService_GetCurrentUser
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCurrentUserResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Returns the authenticated user (whoami).
      tags:
      - AuthService
  /v1/auth/onboarding:
    put:
      description: |-
        One-way latches: each of cli_verified, dismissed, and completed stamps its
        timestamp on the caller's onboarding state when true; false leaves the
        flag unchanged (flags cannot be un-set through this RPC). Returns the
        resulting onboarding state.
      operationId: AuthService_UpdateUserOnboarding
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserOnboardingRequest"
        description: |-
          UpdateUserOnboardingRequest latches onboarding flags: each true field
          stamps its timestamp; false leaves the flag unchanged. wizard_step and
          answers are ordinary mutable state: an unset field is left untouched, a set
          one replaces the stored value.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateUserOnboardingResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Updates the caller's onboarding progress flags.
      tags:
      - AuthService
  /v1/branches/{branchId}/code-links:
    get:
      description: |-
        Returns every link recorded for the branch, pull requests before git
        branches, then most recently updated first.
      operationId: BranchService_ListBranchCodeLinks
      parameters:
      - explode: false
        in: path
        name: branchId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBranchCodeLinksResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: "Lists a branch's durable code links (git branches, pull requests)."
      tags:
      - BranchService
    post:
      description: |-
        Each entry is keyed by (kind, repository, ref): a repeat of an existing
        key updates url/title/state/base_sha/head_sha instead of duplicating.
        kind must be "git_branch" or "pull_request"; state must be "", "open",
        "merged", or "closed". Fails closed on the first invalid entry — nothing
        is written if any entry is invalid.
      operationId: BranchService_UpsertBranchCodeLinks
      parameters:
      - explode: false
        in: path
        name: branchId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertBranchCodeLinksBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpsertBranchCodeLinksResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Upserts a batch of code links onto a branch.
      tags:
      - BranchService
  /v1/branches/{branchId}/link-proposals:
    get:
      description: |-
        Returns the link/unlink proposals recorded on the branch, optionally
        filtered by statuses (proposed | accepted | rejected). Accepted proposals
        become durable links when the branch merges.
      operationId: TestService_ListBranchLinkProposals
      parameters:
      - explode: false
        in: path
        name: branchId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: statuses
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBranchLinkProposalsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Lists a branch's test-requirement link proposals.
      tags:
      - TestService
  /v1/branches/{branchId}/link-proposals:review:
    post:
      description: |-
        Applies decision ("accepted" | "rejected"), with an optional review_note,
        to the given proposal_ids (at least one required). Accepted proposals
        materialize into durable links at branch merge; rejected ones are dropped.
      operationId: TestService_ReviewBranchLinkProposals
      parameters:
      - explode: false
        in: path
        name: branchId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewBranchLinkProposalsBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReviewBranchLinkProposalsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Accepts or rejects branch link proposals.
      tags:
      - TestService
  /v1/branches/{id}:
    delete:
      description: |-
        Permanently drops the branch's local requirement/test/component copies and
        deletion markers; main is unaffected. Deletion history is recorded per
        discarded requirement. The main branch cannot be deleted.
      operationId: BranchService_DeleteBranch
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteBranchResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Deletes a branch and discards its copy-on-write changes.
      tags:
      - BranchService
    get:
      description: |-
        Returns the branch with its status and metadata. Change stats are only
        populated by ListBranches with include_stats=true.
      operationId: BranchService_GetBranch
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBranchResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Fetches one branch by id.
      tags:
      - BranchService
    patch:
      description: |-
        Both request fields are optional: an absent field leaves the branch's
        current value unchanged, a present field (including an empty string)
        sets it. created_by_agent is validated server-side against a fixed
        allowlist — an unrecognized value is stored as empty string.
      operationId: BranchService_UpdateBranch
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateBranchBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateBranchResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Updates a branch's description and/or created_by_agent.
      tags:
      - BranchService
  /v1/branches/{id}/merge:
    post:
      description: |-
        Applies the branch's additions/modifications/deletions to main in one
        transaction. Every conflicting entity requires a resolutions entry keyed
        "req:<uuid>", "test:<uuid>", or "comp:<uuid>" with value KEEP_BRANCH or
        KEEP_MAIN — otherwise the call fails with UNRESOLVED_CONFLICT and nothing
        is applied. Only open branches can merge; main cannot merge into itself.
      operationId: BranchService_MergeBranch
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MergeBranchBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MergeBranchResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Merges a branch's changes into main and closes the branch.
      tags:
      - BranchService
  /v1/branches/{id}/merge-preview:
    get:
      description: |-
        Returns the additions, modifications (with per-field conflict flags), and
        deletions the merge would apply, for requirements, tests, and components,
        plus aggregate stats. A conflict means main changed the entity after the
        branch took its copy. Read-only — nothing is written.
      operationId: BranchService_GetMergePreview
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMergePreviewResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Previews the effect of merging a branch into main.
      tags:
      - BranchService
  /v1/components/{id}:
    put:
      description: |-
        name/description change only when present — omitted fields keep their
        stored value. Repository scoping uses explicit flags: set_repository,
        set_component_paths, and set_repository_aliases must be true for the
        paired value to be applied (including clearing it); false leaves the
        stored value untouched. branch (empty = main) writes copy-on-write.
      operationId: ComponentService_UpdateComponent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateComponentBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateComponentResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Updates a component.
      tags:
      - ComponentService
  /v1/environments/{id}:
    delete:
      description: |-
        Permanently removes the environment from the product. Test runs and
        releases that referenced it keep their recorded slug.
      operationId: EnvironmentService_DeleteEnvironment
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteEnvironmentResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Deletes an environment.
      tags:
      - EnvironmentService
    get:
      description: "Returns the environment including its slug, host, type, and origin."
      operationId: EnvironmentService_GetEnvironment
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetEnvironmentResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Fetches one environment by id.
      tags:
      - EnvironmentService
  /v1/issues/{id}:
    get:
      description: |-
        The occurrence carries server-resolved (symbolicated) stack frames with the
        surrounding source lines, which is what identifies the code to fix.
      operationId: IssueService_GetIssue
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetIssueResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Gets one issue together with its most recent occurrence.
      tags:
      - IssueService
  /v1/issues/{id}/events:
    get:
      description: Stack frames are not resolved here — fetch a single occurrence
        for those.
      operationId: IssueService_ListIssueEvents
      parameters:
      - description: issue id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pagination.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListIssueEventsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: "Lists an issue's individual occurrences, most recent first."
      tags:
      - IssueService
  /v1/issues/{id}/events/{eventId}:
    get:
      description: |-
        Use this when the occurrence that matters is not the most recent one — for
        example the production occurrence of an issue whose latest event came from
        staging.
      operationId: IssueService_GetIssueEvent
      parameters:
      - description: issue id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "issue_events.id (row id, not the SDK event_id)"
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetIssueEventResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Gets one occurrence of an issue with symbolicated stack frames.
      tags:
      - IssueService
  /v1/issues/{id}/stats:
    get:
      description: |-
        An issue carries no environment of its own — environment lives on each
        occurrence — so this is how you tell a production outage from dev noise.
      operationId: IssueService_GetIssueEventStats
      parameters:
      - description: issue id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetIssueEventStatsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: |-
        Returns occurrence statistics for one issue: counts bucketed over time
        plus a per-environment split.
      tags:
      - IssueService
  /v1/issues/{id}:setStatus:
    post:
      description: |-
        Every transition is recorded with its actor and is reversible. A resolved
        issue that recurs is reopened automatically and stamped as a regression.
      operationId: IssueService_UpdateIssueStatus
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateIssueStatusBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateIssueStatusResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: "Sets one issue's status to unresolved, resolved, or ignored."
      tags:
      - IssueService
  /v1/products/{id}:
    get:
      description: |-
        Lets the CLI / agents resolve a bound product's details (e.g. its name for
        `tiden doctor`) without paging the whole workspace list. Tenancy is
        enforced via the id's TENANT_ANCHOR_PRODUCT anchor.
      operationId: ProductService_GetProduct
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetProductResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Fetches one product by id.
      tags:
      - ProductService
  /v1/products/{productId}/agent-configs:
    get:
      description: |-
        Returns every agent config of the product, including its inputs, optional
        cron schedule, and credential references (never credential secrets).
      operationId: AgentService_ListAgentConfigs
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAgentConfigsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Lists a product's agent configurations.
      tags:
      - AgentService
    post:
      description: |-
        Binds an agent_type to the product with a name, inputs_json matching the
        type's input schema, optional LLM/data credential references, and an
        optional cron schedule (schedule_cron + schedule_timezone). Runs are
        started separately via StartAgentRun, the schedule, or a trigger.
      operationId: AgentService_CreateAgentConfig
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAgentConfigBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAgentConfigResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Creates an agent configuration in a product.
      tags:
      - AgentService
  /v1/products/{productId}/attachments/{hash}:
    get:
      description: |-
        Resolves a hash uploaded via the reporter multipart route
        POST /v1/products/{product_id}/attachments:upload to a fresh presigned
        download URL (15-minute expiry, attachment disposition). Content-
        addressed: the same hash always names the same bytes within a product.
        Public so reporter/CLI clients and the SPA (JWT) can both fetch; an
        unknown hash returns ATTACHMENT_NOT_FOUND (HTTP 404).
      operationId: TestRunService_GetRunAttachment
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: sha256 hex content hash
        explode: false
        in: path
        name: hash
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRunAttachmentResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Resolves an attachment content hash to a download URL.
      tags:
      - TestRunService
  /v1/products/{productId}/branches:
    get:
      description: |-
        Returns every branch including main. Set include_stats to add per-branch
        change counts vs main (additions/modifications/deletions per entity kind,
        plus conflicts). Set include_status to add loop/latest-run/code-link/
        intent-capture signals (Branch.loop/.latest_run/.code_links/.intent) —
        independent of include_stats, each is its own fixed-query-count batch
        read, so a caller that needs only the branch list is not charged for it.
      operationId: BranchService_ListBranches
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          When true, each returned Branch carries BranchChangeStats (per-branch
          change counts vs main).
        explode: true
        in: query
        name: includeStats
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          When true, each returned Branch carries loop/latest-run/code-link/intent
          status signals (Branch.loop, .latest_run, .code_links, .intent). Kept
          separate from include_stats: the sidebar branch dropdown calls List
          without stats and must not pay for this extra work either.
        explode: true
        in: query
        name: includeStatus
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBranchesResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Lists a product's branches.
      tags:
      - BranchService
    post:
      description: |-
        The branch starts as a view of main; edits made on it copy entities on
        write and flow back via MergeBranch. name must be lowercase alphanumeric
        with hyphens/underscores/slashes, at most 100 characters, and not "main".
        created_by_agent_run_id attributes branches created by an agent run.
      operationId: BranchService_CreateBranch
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBranchBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateBranchResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Creates a copy-on-write branch of a product's main line.
      tags:
      - BranchService
  /v1/products/{productId}/components:
    get:
      description: |-
        Returns the components in the branch view (empty branch = main), with
        page_size/page_token pagination.
      operationId: ComponentService_ListComponents
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pagination.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.pageToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListComponentsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Lists a product's components.
      tags:
      - ComponentService
    post:
      description: |-
        Components are the product's deployment/architectural units. repository
        (canonical repo id), component_paths (path-prefix scopes within it), and
        repository_aliases (local checkout paths) scope the component so changed
        files can be attributed to it. branch (empty = main) writes copy-on-write.
      operationId: ComponentService_CreateComponent
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateComponentBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateComponentResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Creates a component in a product.
      tags:
      - ComponentService
  /v1/products/{productId}/coverage-gaps:
    get:
      description: |-
        Returns the product's branch-effective coverage gaps, ranked for agent
        triage. Filter by coverage status (none | partial | covered | stale |
        unknown), component, free-text query, or a feature subtree via
        root_requirement_id. Paginated via pagination.page_size/page_token.
      operationId: AgentRetrievalService_ListCoverageGaps
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: coverageStatuses
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: componentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.pageToken
        required: false
        schema:
          type: string
        style: form
      - description: scope gaps to a feature subtree (root + descendants)
        explode: true
        in: query
        name: rootRequirementId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCoverageGapsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Lists requirements with insufficient test coverage.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/environments:
    get:
      description: |-
        Returns all environments of the product with page_size/page_token
        pagination.
      operationId: EnvironmentService_ListEnvironments
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pagination.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEnvironmentsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Lists a product's environments.
      tags:
      - EnvironmentService
    post:
      description: |-
        Environments (e.g. production, staging) label where test runs and releases
        happened. slug is the stable identifier reporters and CI reference in
        CreateTestRun/CreateRelease; those endpoints also auto-create unknown
        slugs, so explicit creation is only needed to control name/host/type.
      operationId: EnvironmentService_CreateEnvironment
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEnvironmentBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateEnvironmentResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Creates an environment in a product.
      tags:
      - EnvironmentService
  /v1/products/{productId}/feature-context:
    get:
      description: |-
        Retrieves the requirement-graph slices relevant to the free-text objective
        (and optional changed repo_paths): per feature, the root requirement, the
        touched nodes with their code anchors, the branch-effective coverage of
        that slice, and the retrieval signals (vector | fts | anchor) that
        surfaced the seeds. k bounds each retrieval signal's breadth.
      operationId: AgentRetrievalService_ResolveFeatureContext
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: empty = main
        explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      - description: text is the free-text coding objective to resolve into feature
          context.
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: repo_paths are optional changed file paths that seed anchor retrieval.
        explode: true
        in: query
        name: repoPaths
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: k bounds each retrieval signal's breadth (server default when
          <= 0).
        explode: true
        in: query
        name: k
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResolveFeatureContextResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Resolves a coding objective into feature-rooted requirement context.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/intent-sessions:
    get:
      description: |-
        Filter by status, git_branch (resolving "which session, if any, has this
        branch open" for cross-machine continuation), or branch_id. Also serves
        as the capability probe for the whole RPC family: an older server 404s
        this collection route. effective_status ("expired" | "stale") filters by
        the derived-expiry predicate instead of the stored status column — see
        IntentSession.effective_status — and is rejected together with status.
      operationId: IntentSessionService_ListIntentSessions
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: "optional filter — the stored column, verbatim"
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - description: optional filter — cross-machine "find my open session"
        explode: true
        in: query
        name: gitBranch
        required: false
        schema:
          type: string
        style: form
      - description: optional filter
        explode: true
        in: query
        name: branchId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.pageToken
        required: false
        schema:
          type: string
        style: form
      - description: |-
          effective_status is an optional filter selecting by the DERIVED status
          instead of the stored column: "expired" (provisional sessions idle past
          the provisional TTL) or "stale" (materialized sessions idle past the
          materialized TTL). Mutually exclusive with status.
        explode: true
        in: query
        name: effectiveStatus
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListIntentSessionsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: "Lists a product's sessions, most recently active first."
      tags:
      - IntentSessionService
    post:
      description: |-
        Only fields set in the request overwrite; every other column on the
        existing row is left as-is. Creating a session (the first call for that
        id) requires objective. status is forward-only
        (provisional -> materialized -> closed); a closed session rejects any
        further upsert, including one that doesn't touch status. Every call
        refreshes last_activity_at. radius_drops, if present, are recorded as
        radius_drop judgements under their supersede key
        (session_id, phase, sorted requirement_ids).
      operationId: IntentSessionService_UpsertIntentSession
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertIntentSessionBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpsertIntentSessionResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: "Creates or patches a session, keyed by the client-generated session\
        \ id."
      tags:
      - IntentSessionService
  /v1/products/{productId}/intent-sessions/{sessionId}:
    get:
      operationId: IntentSessionService_GetIntentSession
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetIntentSessionResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Fetches one session by id.
      tags:
      - IntentSessionService
  /v1/products/{productId}/intent-sessions/{sessionId}:settle:
    post:
      description: |-
        items are merged onto the stored settlement by item_id: resending an
        item_id replaces its entry (the idempotent retry path after a partial
        failure), a new item_id appends. nothing_to_distill replaces wholesale
        and is mutually exclusive with items — sending one clears the other on
        the stored row; sending both in the same request is rejected.
        Validation here is structural only (enum membership, non-empty reason,
        id fields parsing as UUIDs) — the CLI enforces the semantic rules (e.g.
        judged_ids required when hops-0 is non-empty) since the server has no
        way to know hops-0.
      operationId: IntentSessionService_RecordSessionSettlement
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecordSessionSettlementBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordSessionSettlementResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Records or amends a session's settlement decision.
      tags:
      - IntentSessionService
  /v1/products/{productId}/intent:distill:
    post:
      description: |-
        Runs an LLM reconciliation of the transcript against the product's
        requirement tree and writes the created/updated requirements to an
        intent/YYYY-MM-DD-<slug> branch for review (slug defaults to "session";
        same-day non-open branch names get a -2..-9 suffix). Requires a usable
        llm.* workspace credential (credential_id overrides the default). An empty
        transcript is a readiness probe: configuration is validated and the call
        reports skipped=true without invoking the LLM.
      operationId: IntentService_DistillIntent
      parameters:
      - description: Product whose requirement tree the intent is reconciled against.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DistillIntentBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DistillIntentResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Distills a coding-session transcript into requirement changes.
      tags:
      - IntentService
  /v1/products/{productId}/issues:
    get:
      description: |-
        An issue is a group of error events sharing a fingerprint. Filter by
        status, environment, release, component, platform, level, and a trailing
        last-seen window; sort by last_seen (default), first_seen, or times_seen.
        Results are paginated with an opaque keyset cursor carried in
        pagination.page_token.
      operationId: IssueService_ListIssues
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: "unresolved|resolved|ignored, \"\" = all"
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - description: optional filter
        explode: true
        in: query
        name: environmentId
        required: false
        schema:
          type: string
        style: form
      - description: optional filter
        explode: true
        in: query
        name: releaseId
        required: false
        schema:
          type: string
        style: form
      - description: last_seen|first_seen|times_seen
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.pageToken
        required: false
        schema:
          type: string
        style: form
      - description: "optional: filter by attributed component"
        explode: true
        in: query
        name: componentId
        required: false
        schema:
          type: string
        style: form
      - description: "optional: filter by platform (platform dropdown, OR within)"
        explode: true
        in: query
        name: platforms
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "optional: filter by level (token bar, OR within)"
        explode: true
        in: query
        name: levels
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "optional last-seen window: 3m|1h|12h|1d|7d|30d (\"\" = all time)"
        explode: true
        in: query
        name: period
        required: false
        schema:
          type: string
        style: form
      - description: "optional: case-insensitive match on title/culprit"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "optional saved-view predicate: blocking|spiking|new|regressed"
        explode: true
        in: query
        name: signal
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListIssuesResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: "Lists a product's issues, most recently active first."
      tags:
      - IssueService
  /v1/products/{productId}/issues/{issueId}/fix-context:
    get:
      description: |-
        Prefer this over stitching together GetIssue, GetIssueEventStats and
        requirement lookups: it is one round-trip, and it reports which file path
        matched which requirement so a wrong match is visible rather than silent.
      operationId: AgentRetrievalService_GetIssueFixContext
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: issueId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          branch scopes the requirement lookup to a branch's effective view.
          "" = main.
        explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      - description: |-
          max_frames bounds how many stack frames come back. <= 0 uses the server
          default (10); the cap is 50.
        explode: true
        in: query
        name: maxFrames
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetIssueFixContextResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: |-
        Returns everything needed to fix one error, in a single call: the issue,
        its latest occurrence with symbolicated stack frames, the repository files
        those frames implicate, where the error is happening by environment, and —
        for each requirement those files implement — whether a test already covers
        it.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/issues:bulkSetStatus:
    post:
      operationId: IssueService_BulkUpdateIssueStatus
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkUpdateIssueStatusBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkUpdateIssueStatusResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: |-
        Sets the same status on many issues at once. Every id must belong to the
        given product.
      tags:
      - IssueService
  /v1/products/{productId}/quality-gate:
    get:
      description: |-
        Returns the latest non-invalidated verdict for the (scope, ref). On a
        blocked verdict, clients read the structured per-subject criterion
        breakdown and agent-actionable fix hints from here.
      operationId: QualityGateService_GetVerdict
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: |2-
           - VERDICT_SCOPE_RELEASE: canonical, against main-live entities of a release build
           - VERDICT_SCOPE_BRANCH: pre-merge preview, against the merge-preview projection
           - VERDICT_SCOPE_MAIN: current main, not tied to a release (latest exec per test)
        explode: true
        in: query
        name: scope
        required: false
        schema:
          default: VERDICT_SCOPE_UNSPECIFIED
          enum:
          - VERDICT_SCOPE_UNSPECIFIED
          - VERDICT_SCOPE_RELEASE
          - VERDICT_SCOPE_BRANCH
          - VERDICT_SCOPE_MAIN
          type: string
        style: form
      - explode: true
        in: query
        name: releaseId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      - description: filter the result to one subject ("component"|"feature"|"product")
        explode: true
        in: query
        name: subjectType
        required: false
        schema:
          type: string
        style: form
      - description: paired with subject_type
        explode: true
        in: query
        name: subjectId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetVerdictResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Fetches the latest verdict for a scope.
      tags:
      - QualityGateService
  /v1/products/{productId}/quality-gate/traceability:
    get:
      description: |-
        Returns the requirement-by-test-case slice (grouped by component) the
        verdict was computed over, for the matrix page and audit.
        subject_type/subject_id filter the matrix to one component or feature.
      operationId: QualityGateService_GetTraceability
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: |2-
           - VERDICT_SCOPE_RELEASE: canonical, against main-live entities of a release build
           - VERDICT_SCOPE_BRANCH: pre-merge preview, against the merge-preview projection
           - VERDICT_SCOPE_MAIN: current main, not tied to a release (latest exec per test)
        explode: true
        in: query
        name: scope
        required: false
        schema:
          default: VERDICT_SCOPE_UNSPECIFIED
          enum:
          - VERDICT_SCOPE_UNSPECIFIED
          - VERDICT_SCOPE_RELEASE
          - VERDICT_SCOPE_BRANCH
          - VERDICT_SCOPE_MAIN
          type: string
        style: form
      - explode: true
        in: query
        name: releaseId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      - description: filter the matrix to one subject ("component"|"feature")
        explode: true
        in: query
        name: subjectType
        required: false
        schema:
          type: string
        style: form
      - description: paired with subject_type
        explode: true
        in: query
        name: subjectId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTraceabilityResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Returns the traceability matrix behind a verdict.
      tags:
      - QualityGateService
  /v1/products/{productId}/quality-gate:accept-risk:
    post:
      description: |-
        Records a risk acceptance (reason required) for the whole verdict or one
        component, so a verdict failing only soft signals becomes shippable.
        Hard-blocked verdicts cannot be accepted. High-severity components need a
        distinct second approver via ApproveRisk; low-severity ones self-approve.
        Returns the recomputed verdict reflecting the acceptance.
      operationId: QualityGateService_AcceptRisk
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AcceptRiskBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptRiskResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Signs off the residual risk on a soft-signal verdict.
      tags:
      - QualityGateService
  /v1/products/{productId}/quality-gate:approve-risk:
    post:
      description: |-
        Approves the acceptance identified by acceptance_id; the approver must be
        a different user than the one who recorded it. Returns the recomputed
        verdict.
      operationId: QualityGateService_ApproveRisk
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApproveRiskBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApproveRiskResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Second-approver sign-off for a pending risk acceptance.
      tags:
      - QualityGateService
  /v1/products/{productId}/quality-gate:compute:
    post:
      description: |-
        Computes (or recomputes) the go/no-go verdict for a scope — RELEASE
        (release_id required), BRANCH (branch name required), or MAIN — and
        persists an immutable snapshot. Side-effecting, but idempotent on the
        current data state: recomputing unchanged data yields the same verdict.
        subject_type/subject_id narrow the returned breakdown to one
        component/feature/product subject.
      operationId: QualityGateService_ComputeVerdict
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComputeVerdictBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeVerdictResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Computes and persists a quality-gate verdict.
      tags:
      - QualityGateService
  /v1/products/{productId}/quality-gate:session-acceptances:
    post:
      description: |-
        Persists the close-policy ledger of a single intent session as
        agent_artifact provenance rows on that session's draft requirement. A
        re-run REPLACES this session's records for the same requirement set —
        keyed by (phase, session, requirement set), deliberately NOT by criterion,
        so a corrected criterion supersedes the earlier judgement instead of
        leaving two contradicting ones. Every other row on the draft is carried
        over.

        ORDERING: this endpoint rewrites the draft's whole source array. A caller
        that also writes sources to the same draft (the CLI's close extends the
        session_reconcile row in its own PUT) MUST call this FIRST and then
        RE-FETCH the requirement before building that write — a request assembled
        from a snapshot taken before this call silently erases the rows this call
        wrote.

        Validation is STRUCTURAL only: a known criterion, non-empty single-line
        evidence, a known follow-up kind, requirement refs that resolve on the
        intent branch, and a draft that lives there. The server never judges
        whether a reason is a good one — that judgment belongs to the agent's
        instructions and to the human reading merge-preview.
      operationId: QualityGateService_RecordSessionRiskAcceptances
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecordSessionRiskAcceptancesBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordSessionRiskAcceptancesResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Records one intent session's risk acceptances and test deferrals.
      tags:
      - QualityGateService
  /v1/products/{productId}/quality-gate:session-progress:
    post:
      description: |-
        For the supplied requirement ids (the session's slice of interest) on the
        intent branch's merge-preview view, returns each requirement's coverage
        ladder step (no_test → not_run → failing → verified), its linked tests
        with per-test status and session attribution, a summary, an advisory
        `ready` flag, and deterministic next actions. Read-only; unknown
        requirement ids are silently omitted.
      operationId: QualityGateService_GetSessionProgress
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetSessionProgressBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSessionProgressResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Returns one intent session's per-requirement progress slice.
      tags:
      - QualityGateService
  /v1/products/{productId}/releases:
    get:
      description: |-
        Optionally filtered by environment slug; paginated via
        pagination.page_size/page_token.
      operationId: ReleaseService_ListReleases
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: optional environment slug filter
        explode: true
        in: query
        name: environment
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListReleasesResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Lists a product's releases.
      tags:
      - ReleaseService
    post:
      description: |-
        Idempotent upsert keyed on (product, version, environment): re-posting the
        same version updates the existing release instead of duplicating it. The
        environment is matched by slug and auto-created if unknown; released_at is
        an RFC 3339 timestamp.
      operationId: ReleaseService_CreateRelease
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateReleaseBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateReleaseResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Creates a release from an external source (CI/SDK).
      tags:
      - ReleaseService
  /v1/products/{productId}/repo-watermark:
    get:
      description: |-
        The watermark is the git commit the requirements tree on main reflects the
        repository up to ("github.com/org/repo" canonical id). `tiden intent
        start` compares it against the repo's actual main HEAD to detect drift —
        commits that reached the code outside the intent loop. An unset watermark
        means the repository was never reconciled; the client baselines it.
      operationId: AgentRetrievalService_GetRepoWatermark
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Canonical repo id ("github.com/org/repo" — the components.repository
          format), never a local path and never a clone URL.
        explode: true
        in: query
        name: repository
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRepoWatermarkResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Returns the drift watermark of one repository.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/repo-watermark:advance:
    post:
      description: |-
        reason baseline inserts the first watermark and never overwrites;
        empty_sync is a compare-and-set on expected_current_sha (a delta run that
        found nothing requirement-worthy); bootstrap writes unconditionally (an
        explicit full re-generation). The sync_merge advance happens server-side
        when a sync branch merges, and ingest happens inside the codebase agent —
        both are rejected here. advanced=false means a lost ordering race, never
        an error: the watermark can under-advance and self-heal, but never move
        backwards.
      operationId: AgentRetrievalService_AdvanceRepoWatermark
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdvanceRepoWatermarkBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdvanceRepoWatermarkResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Advances the drift watermark of one repository.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/requirement-anchors:
    get:
      description: |-
        Returns every (requirement_id, repo_path) pair from repo_file source
        anchors as seen from branch (empty = main), so a client can map file
        paths to requirements without fetching full requirements.
      operationId: AgentRetrievalService_ListRequirementAnchors
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: empty = main
        explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRequirementAnchorsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Lists the branch-effective code anchors of all requirements.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/requirement-components:derive:
    post:
      description: |-
        Mirrors the test-side attributeTestComponents: a requirement whose
        anchors resolve to exactly one component gets that component_id set;
        anchors spanning more than one component, or owned by none (including a
        repository-ambiguous anchor path), leave the requirement untouched. Only
        NULL component_id rows are written — an explicit or previously-derived
        attribution is never overwritten. Idempotent.
      operationId: RequirementService_AttributeRequirementComponents
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeRequirementComponentsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: |-
        Derives requirement-component attribution from each requirement's own
        repo_file anchors.
      tags:
      - RequirementService
  /v1/products/{productId}/requirement-edge-intents:
    post:
      description: |-
        Stores an edge intent on the given branch (empty = main) instead of
        writing the edge immediately; the intent materializes into a real edge
        when the branch merges to main. Endpoint and edge_type rules match
        WriteRequirementEdge.
      operationId: AgentRetrievalService_DeclareRequirementEdgeIntent
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeclareRequirementEdgeIntentBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeclareRequirementEdgeIntentResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Records a deferred graph edge for endpoints not yet on main.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/requirement-edges:
    post:
      description: |-
        Creates a src->dst edge with exactly one destination endpoint:
        dst_requirement_id (edge_type depends_on | traces_to) or dst_component_id
        (edge_type impacts_component). confidence is required — an explicit 0.0 is
        valid, omitted is not. The edge is attributed to agent_run_id; the created
        edge id is returned.
      operationId: AgentRetrievalService_WriteRequirementEdge
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WriteRequirementEdgeBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WriteRequirementEdgeResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Writes one semantic edge into the requirement graph.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/requirement-graph:
    get:
      description: |-
        Returns every graph node (requirements plus component nodes reached via
        impacts_component edges, discriminated by kind) and every edge with its
        type, source kind, and confidence — for whole-product visualization or
        offline analysis.
      operationId: AgentRetrievalService_GetRequirementGraph
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRequirementGraphResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Returns the product's full requirement graph.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/requirements:
    get:
      description: |-
        Returns the flat requirement list (parent_id encodes the tree) in the
        branch view (empty = main), paginated. Set include_sources to embed each
        requirement's full provenance sources — agents need them for source-based
        identity matching; otherwise only source_count is populated.
      operationId: RequirementService_ListRequirements
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pagination.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.pageToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      - description: |-
          When true, each returned requirement carries its full sources list (not
          just source_count). Agents need this for source-based identity matching
          (e.g. github_local_id / jira_issue anchors); the web UI leaves it off.
        explode: true
        in: query
        name: includeSources
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRequirementsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Lists a product's requirements.
      tags:
      - RequirementService
    post:
      description: |-
        Creates the requirement under parent_id (empty = root) on branch (empty =
        main; a missing branch name is auto-created and edits stay copy-on-write
        until merge). Optional status/priority/type classify it; sources attach
        provenance (repo files, documentation URLs, manual input). Returns the
        requirement with its product-wide seq_num.
      operationId: RequirementService_CreateRequirement
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRequirementBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateRequirementResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Creates a requirement.
      tags:
      - RequirementService
  /v1/products/{productId}/requirements/graph-coverage-gaps:
    get:
      description: |-
        Returns the subset of the given requirement_ids that have zero live test
        links. Typically chained after RequirementImpact or RequirementNeighbors
        to find the uncovered part of a blast radius.
      operationId: AgentRetrievalService_GraphCoverageGaps
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          requirement_ids is the set to check for coverage. Typically the result of
          RequirementImpact or RequirementNeighbors.
        explode: true
        in: query
        name: requirementIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GraphCoverageGapsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: Filters a requirement set down to those without test coverage.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/requirements/impact:
    get:
      description: |-
        Resolves repo_paths to seed requirements via their repo_file source
        anchors, then expands the requirement graph up to depth hops (default 3)
        over the given edge_types (empty = all canonical types). Returns the
        affected requirement ids, the tests covering any of them, and the affected
        requirements with no live test links.
      operationId: AgentRetrievalService_RequirementImpact
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          repo_paths is the set of changed file paths (e.g. from a merged PR).
          The backend resolves these to seeded requirement IDs via requirement_sources.
        explode: true
        in: query
        name: repoPaths
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          depth controls how many hops the graph traversal expands beyond the seeds.
          Defaults to 3 on the server if <= 0.
        explode: true
        in: query
        name: depth
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: edge_types filters which edge types to traverse. Empty = all
          canonical types.
        explode: true
        in: query
        name: edgeTypes
        required: false
        schema:
          items:
            type: string
          type: array
[...]
