openapi: 3.0.0
info:
  description: "REST API for external consumers: the tiden CLI, reporters, and generated\
    \ API clients. Authenticate with an API token (`Authorization: Bearer tfy_...`)\
    \ created in the app UI or via the CLI device-code flow."
  title: Tiden Public API
  version: 1.0.0
servers:
- url: https://api.tiden.ai
security:
- BearerAuth: []
tags:
- name: AgentService
- name: AgentRetrievalService
- name: AgentRunService
- name: AuthService
- name: BranchService
- name: ComponentService
- name: EnvironmentService
- name: IntentService
- name: IssueService
- name: ProductService
- name: QualityGateService
- name: ReleaseService
- name: RequirementService
- name: TestService
- name: TestRunService
- name: WorkspaceService
paths:
  /v1/agent-configs/{agentConfigId}/runs:
    get:
      operationId: AgentRunService_ListAgentRuns
      parameters:
      - explode: false
        in: path
        name: agentConfigId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAgentRunsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentRunService
    post:
      operationId: AgentRunService_StartAgentRun
      parameters:
      - explode: false
        in: path
        name: agentConfigId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StartAgentRunBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StartAgentRunResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentRunService
  /v1/agent-configs/{id}:
    delete:
      operationId: AgentService_DeleteAgentConfig
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteAgentConfigResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentService
    get:
      operationId: AgentService_GetAgentConfig
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAgentConfigResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentService
  /v1/agent-runs/{id}:
    get:
      operationId: AgentRunService_GetAgentRun
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAgentRunResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentRunService
  /v1/agent-runs/{id}:cancel:
    post:
      operationId: AgentRunService_CancelAgentRun
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelAgentRunBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelAgentRunResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentRunService
  /v1/agent-runs/{runId}/events:
    get:
      operationId: AgentRunService_ListAgentRunEvents
      parameters:
      - explode: false
        in: path
        name: runId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAgentRunEventsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentRunService
  /v1/agent-runs/{runId}/events:stream:
    get:
      operationId: AgentRunService_StreamAgentRun
      parameters:
      - explode: false
        in: path
        name: runId
        required: true
        schema:
          type: string
        style: simple
      - description: resume from this event id (cursor); empty starts from the beginning.
        explode: true
        in: query
        name: afterEventId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Stream_result_of_AgentRunEvent"
          description: A successful response.(streaming responses)
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentRunService
  /v1/agent-types:
    get:
      operationId: AgentService_ListAgentTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAgentTypesResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentService
  /v1/auth/me:
    get:
      operationId: AuthService_GetCurrentUser
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCurrentUserResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AuthService
  /v1/auth/onboarding:
    put:
      operationId: AuthService_UpdateUserOnboarding
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserOnboardingRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateUserOnboardingResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AuthService
  /v1/branches/{branchId}/link-proposals:
    get:
      operationId: TestService_ListBranchLinkProposals
      parameters:
      - explode: false
        in: path
        name: branchId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: statuses
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBranchLinkProposalsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - TestService
  /v1/branches/{branchId}/link-proposals:review:
    post:
      operationId: TestService_ReviewBranchLinkProposals
      parameters:
      - explode: false
        in: path
        name: branchId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewBranchLinkProposalsBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReviewBranchLinkProposalsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - TestService
  /v1/branches/{id}:
    delete:
      operationId: BranchService_DeleteBranch
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteBranchResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - BranchService
    get:
      operationId: BranchService_GetBranch
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBranchResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - BranchService
  /v1/branches/{id}/merge:
    post:
      operationId: BranchService_MergeBranch
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MergeBranchBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MergeBranchResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - BranchService
  /v1/branches/{id}/merge-preview:
    get:
      operationId: BranchService_GetMergePreview
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMergePreviewResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - BranchService
  /v1/components/{id}:
    put:
      operationId: ComponentService_UpdateComponent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateComponentBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateComponentResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - ComponentService
  /v1/environments/{id}:
    delete:
      operationId: EnvironmentService_DeleteEnvironment
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteEnvironmentResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - EnvironmentService
    get:
      operationId: EnvironmentService_GetEnvironment
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetEnvironmentResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - EnvironmentService
  /v1/products/{id}:
    get:
      operationId: ProductService_GetProduct
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetProductResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: |-
        GetProduct fetches one product by id so the CLI / agents can resolve a bound
        product's details (e.g. its name for `tiden doctor`) without paging the whole
        workspace list. Tenancy is enforced via the id's TENANT_ANCHOR_PRODUCT anchor.
      tags:
      - ProductService
  /v1/products/{productId}/agent-configs:
    get:
      operationId: AgentService_ListAgentConfigs
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAgentConfigsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentService
    post:
      operationId: AgentService_CreateAgentConfig
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAgentConfigBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAgentConfigResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentService
  /v1/products/{productId}/attachments/{hash}:
    get:
      operationId: TestRunService_GetRunAttachment
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: sha256 hex content hash
        explode: false
        in: path
        name: hash
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRunAttachmentResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: |-
        Resolves a content-hash (uploaded via the reporter multipart route
        POST /v1/products/{product_id}/attachments:upload) to a presigned download
        URL. Public so reporter/CLI clients and the SPA (JWT) can both fetch;
        ATTACHMENT_NOT_FOUND (→ 404) for an unknown hash — the drawer renders
        "attachment unavailable" on that.
      tags:
      - TestRunService
  /v1/products/{productId}/branches:
    get:
      operationId: BranchService_ListBranches
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          When true, each returned Branch carries BranchChangeStats (per-branch
          change counts vs main).
        explode: true
        in: query
        name: includeStats
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBranchesResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - BranchService
    post:
      operationId: BranchService_CreateBranch
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBranchBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateBranchResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - BranchService
  /v1/products/{productId}/components:
    get:
      operationId: ComponentService_ListComponents
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pagination.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.pageToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListComponentsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - ComponentService
    post:
      operationId: ComponentService_CreateComponent
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateComponentBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateComponentResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - ComponentService
  /v1/products/{productId}/coverage-gaps:
    get:
      operationId: AgentRetrievalService_ListCoverageGaps
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: coverageStatuses
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: componentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.pageToken
        required: false
        schema:
          type: string
        style: form
      - description: scope gaps to a feature subtree (root + descendants)
        explode: true
        in: query
        name: rootRequirementId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCoverageGapsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/environments:
    get:
      operationId: EnvironmentService_ListEnvironments
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pagination.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEnvironmentsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - EnvironmentService
    post:
      operationId: EnvironmentService_CreateEnvironment
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEnvironmentBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateEnvironmentResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - EnvironmentService
  /v1/products/{productId}/feature-context:
    get:
      operationId: AgentRetrievalService_ResolveFeatureContext
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: empty = main
        explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      - description: text is the free-text coding objective to resolve into feature
          context.
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: repo_paths are optional changed file paths that seed anchor retrieval.
        explode: true
        in: query
        name: repoPaths
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: k bounds each retrieval signal's breadth (server default when
          <= 0).
        explode: true
        in: query
        name: k
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResolveFeatureContextResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/intent:distill:
    post:
      operationId: IntentService_DistillIntent
      parameters:
      - description: Product whose requirement tree the intent is reconciled against.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DistillIntentBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DistillIntentResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - IntentService
  /v1/products/{productId}/quality-gate:
    get:
      operationId: QualityGateService_GetVerdict
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: |2-
           - VERDICT_SCOPE_RELEASE: canonical, against main-live entities of a release build
           - VERDICT_SCOPE_BRANCH: pre-merge preview, against the merge-preview projection
           - VERDICT_SCOPE_MAIN: current main, not tied to a release (latest exec per test)
        explode: true
        in: query
        name: scope
        required: false
        schema:
          default: VERDICT_SCOPE_UNSPECIFIED
          enum:
          - VERDICT_SCOPE_UNSPECIFIED
          - VERDICT_SCOPE_RELEASE
          - VERDICT_SCOPE_BRANCH
          - VERDICT_SCOPE_MAIN
          type: string
        style: form
      - explode: true
        in: query
        name: releaseId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      - description: filter the result to one subject ("component"|"feature"|"product")
        explode: true
        in: query
        name: subjectType
        required: false
        schema:
          type: string
        style: form
      - description: paired with subject_type
        explode: true
        in: query
        name: subjectId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetVerdictResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: |-
        Latest non-invalidated verdict for a (scope, ref). On no-go the agent reads
        the structured component/criterion breakdown + fix hints from here.
      tags:
      - QualityGateService
  /v1/products/{productId}/quality-gate/traceability:
    get:
      operationId: QualityGateService_GetTraceability
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: |2-
           - VERDICT_SCOPE_RELEASE: canonical, against main-live entities of a release build
           - VERDICT_SCOPE_BRANCH: pre-merge preview, against the merge-preview projection
           - VERDICT_SCOPE_MAIN: current main, not tied to a release (latest exec per test)
        explode: true
        in: query
        name: scope
        required: false
        schema:
          default: VERDICT_SCOPE_UNSPECIFIED
          enum:
          - VERDICT_SCOPE_UNSPECIFIED
          - VERDICT_SCOPE_RELEASE
          - VERDICT_SCOPE_BRANCH
          - VERDICT_SCOPE_MAIN
          type: string
        style: form
      - explode: true
        in: query
        name: releaseId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      - description: filter the matrix to one subject ("component"|"feature")
        explode: true
        in: query
        name: subjectType
        required: false
        schema:
          type: string
        style: form
      - description: paired with subject_type
        explode: true
        in: query
        name: subjectId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTraceabilityResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: |-
        The traceability-matrix slice the verdict was computed over (req x case by
        component), for the matrix page and audit.
      tags:
      - QualityGateService
  /v1/products/{productId}/quality-gate:accept-risk:
    post:
      operationId: QualityGateService_AcceptRisk
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AcceptRiskBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptRiskResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: |-
        Record a sign-off on a 🟡 (soft-signal) verdict so it becomes shippable.
        Hard-blocked (🔴) verdicts can't be accepted. High-severity components need a
        distinct 2nd approver (ApproveRisk); low-severity self-approve.
      tags:
      - QualityGateService
  /v1/products/{productId}/quality-gate:approve-risk:
    post:
      operationId: QualityGateService_ApproveRisk
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApproveRiskBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApproveRiskResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: |-
        Second-approver sign-off for a pending acceptance (must differ from the
        recorder).
      tags:
      - QualityGateService
  /v1/products/{productId}/quality-gate:compute:
    post:
      operationId: QualityGateService_ComputeVerdict
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComputeVerdictBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeVerdictResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: |-
        Compute (or recompute) the verdict for a release or branch scope and persist
        an immutable snapshot. Side-effecting; the engine is idempotent on the
        current data state (CAS on publish).
      tags:
      - QualityGateService
  /v1/products/{productId}/releases:
    get:
      operationId: ReleaseService_ListReleases
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: optional environment slug filter
        explode: true
        in: query
        name: environment
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListReleasesResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - ReleaseService
    post:
      operationId: ReleaseService_CreateRelease
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateReleaseBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateReleaseResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: |-
        Create a release from an external source (CI/SDK). Idempotent upsert on
        (product, version, environment). The environment is matched by slug and
        auto-created if unknown.
      tags:
      - ReleaseService
  /v1/products/{productId}/requirement-anchors:
    get:
      operationId: AgentRetrievalService_ListRequirementAnchors
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: empty = main
        explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRequirementAnchorsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/requirement-edge-intents:
    post:
      operationId: AgentRetrievalService_DeclareRequirementEdgeIntent
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeclareRequirementEdgeIntentBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeclareRequirementEdgeIntentResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/requirement-edges:
    post:
      operationId: AgentRetrievalService_WriteRequirementEdge
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WriteRequirementEdgeBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WriteRequirementEdgeResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/requirement-graph:
    get:
      operationId: AgentRetrievalService_GetRequirementGraph
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRequirementGraphResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/requirements:
    get:
      operationId: RequirementService_ListRequirements
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pagination.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.pageToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      - description: |-
          When true, each returned requirement carries its full sources list (not
          just source_count). Agents need this for source-based identity matching
          (e.g. github_local_id / jira_issue anchors); the web UI leaves it off.
        explode: true
        in: query
        name: includeSources
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRequirementsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - RequirementService
    post:
      operationId: RequirementService_CreateRequirement
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRequirementBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateRequirementResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - RequirementService
  /v1/products/{productId}/requirements/graph-coverage-gaps:
    get:
      operationId: AgentRetrievalService_GraphCoverageGaps
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          requirement_ids is the set to check for coverage. Typically the result of
          RequirementImpact or RequirementNeighbors.
        explode: true
        in: query
        name: requirementIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GraphCoverageGapsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/requirements/impact:
    get:
      operationId: AgentRetrievalService_RequirementImpact
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          repo_paths is the set of changed file paths (e.g. from a merged PR).
          The backend resolves these to seeded requirement IDs via requirement_sources.
        explode: true
        in: query
        name: repoPaths
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          depth controls how many hops the graph traversal expands beyond the seeds.
          Defaults to 3 on the server if <= 0.
        explode: true
        in: query
        name: depth
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: edge_types filters which edge types to traverse. Empty = all
          canonical types.
        explode: true
        in: query
        name: edgeTypes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequirementImpactResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/requirements/{requirementId}/neighbors:
    get:
      operationId: AgentRetrievalService_RequirementNeighbors
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: requirementId
        required: true
        schema:
          type: string
        style: simple
      - description: depth controls how many hops to traverse (default 1 if <= 0).
        explode: true
        in: query
        name: depth
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: edge_types filters which edge types to traverse. Empty = all
          canonical types.
        explode: true
        in: query
        name: edgeTypes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequirementNeighborsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/requirements/{requirementId}/test-context:
    get:
      operationId: AgentRetrievalService_GetRequirementTestContext
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: requirementId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: budget
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRequirementTestContextResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/requirements/{requirementId}:attribute-changed-files:
    post:
      operationId: AgentRetrievalService_AttributeChangedFiles
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: requirementId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttributeChangedFilesBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeChangedFilesResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/runs:
    get:
      operationId: TestRunService_ListTestRuns
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - description: optional filter
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - description: optional environment slug filter
        explode: true
        in: query
        name: environment
        required: false
        schema:
          type: string
        style: form
      - description: optional branch_name filter
        explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      - description: optional title substring
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTestRunsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - TestRunService
    post:
      operationId: TestRunService_CreateTestRun
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTestRunBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTestRunResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - TestRunService
  /v1/products/{productId}/runs/{runSeq}:
    delete:
      operationId: TestRunService_DeleteTestRun
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: runSeq
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteTestRunResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - TestRunService
    get:
      operationId: TestRunService_GetTestRun
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: runSeq
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTestRunResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - TestRunService
  /v1/products/{productId}/runs/{runSeq}/results:
    get:
      operationId: TestRunService_ListRunResults
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: runSeq
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: optional filter (latest attempt status)
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - description: optional title substring
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "optional: all attempts of one case identity"
        explode: true
        in: query
        name: identityKey
        required: false
        schema:
          type: string
        style: form
      - description: collapse retries (default false = all rows)
        explode: true
        in: query
        name: latestOnly
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: pagination.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRunResultsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - TestRunService
  /v1/products/{productId}/runs/{runSeq}/results/{resultId}:
    get:
      operationId: TestRunService_GetRunResult
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: runSeq
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: resultId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRunResultResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - TestRunService
  /v1/products/{productId}/runs/{runSeq}/results:report:
    post:
      operationId: TestRunService_ReportResults
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: runSeq
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReportResultsBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportResultsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - TestRunService
  /v1/products/{productId}/runs/{runSeq}/summary:
    get:
      operationId: TestRunService_GetRunSummary
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: runSeq
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRunSummaryResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - TestRunService
  /v1/products/{productId}/runs/{runSeq}:abort:
    post:
      operationId: TestRunService_AbortTestRun
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: runSeq
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AbortTestRunBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AbortTestRunResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - TestRunService
  /v1/products/{productId}/runs/{runSeq}:complete:
    post:
      operationId: TestRunService_CompleteTestRun
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: runSeq
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteTestRunBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompleteTestRunResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - TestRunService
  /v1/products/{productId}/setup:verify:
    post:
      operationId: ProductService_VerifyProductSetup
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyProductSetupBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyProductSetupResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - ProductService
  /v1/products/{productId}/sourcemaps:
    post:
      operationId: IssueService_CreateSourceMapUpload
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSourceMapUploadBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSourceMapUploadResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: "Phase 1: create a pending row, return a presigned PUT to a staging\
        \ key."
      tags:
      - IssueService
  /v1/products/{productId}/test-generation-context:prepare:
    post:
      operationId: AgentRetrievalService_PrepareTestGenerationContext
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrepareTestGenerationContextBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrepareTestGenerationContextResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - AgentRetrievalService
  /v1/products/{productId}/test-links:derive:
    post:
      operationId: TestService_DeriveTestLinks
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeriveTestLinksBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeriveTestLinksResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: |-
        DeriveTestLinks matches requirement repo_file anchors against tests'
        file_path: exact-file matches are auto-linked (durable, moves the gate),
        directory-proximity matches are returned for an agent to confirm via
        LinkRequirement. Idempotent.
      tags:
      - TestService
  /v1/products/{productId}/tests:
    get:
      operationId: TestService_ListTests
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pagination.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.pageToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTestsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - TestService
    post:
      operationId: TestService_CreateTest
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTestResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - TestService
  /v1/products/{productId}/tests:ingest:
    post:
      operationId: TestService_IngestTests
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IngestTestsBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngestTestsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: |-
        IngestTests is the reporter-friendly batch upsert endpoint. Idempotent on
        (product, branch, external_id). Server-validates the entire batch upfront,
        then either applies all changes or returns 422 with the per-entry errors.
        Max 1000 tests per call (enforced server-side).
      tags:
      - TestService
  /v1/releases/{id}:
    get:
      operationId: ReleaseService_GetRelease
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetReleaseResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - ReleaseService
  /v1/requirements/{id}:
    delete:
      operationId: RequirementService_DeleteRequirement
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteRequirementResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - RequirementService
    get:
      operationId: RequirementService_GetRequirement
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRequirementResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - RequirementService
    put:
      operationId: RequirementService_UpdateRequirement
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRequirementBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateRequirementResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - RequirementService
  /v1/sourcemaps/{id}:confirm:
    post:
      operationId: IssueService_ConfirmSourceMapUpload
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmSourceMapUploadBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfirmSourceMapUploadResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      summary: |-
        Phase 3: server validates the staged object + atomically promotes to live.
        Exempt: addressed by source-map id (the product-gated entry point is
        CreateSourceMapUpload); source maps are observability infra, not a billed cap.
      tags:
      - IssueService
  /v1/tests/{id}:
    delete:
      operationId: TestService_DeleteTest
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteTestResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - TestService
    get:
      operationId: TestService_GetTest
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTestResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - TestService
    put:
      operationId: TestService_UpdateTest
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateTestResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - TestService
  /v1/tests/{testId}/links:
    get:
      operationId: TestService_ListLinks
      parameters:
      - explode: false
        in: path
        name: testId
        required: true
        schema:
          type: string
        style: simple
      - description: "when set, links are read-only via COW"
        explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListLinksResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - TestService
    post:
      operationId: TestService_LinkRequirement
      parameters:
      - explode: false
        in: path
        name: testId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LinkRequirementBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LinkRequirementResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - TestService
  /v1/tests/{testId}/links/{requirementId}:
    delete:
      operationId: TestService_UnlinkRequirement
      parameters:
      - explode: false
        in: path
        name: testId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: requirementId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnlinkRequirementResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - TestService
  /v1/workspaces:
    get:
      operationId: WorkspaceService_ListWorkspaces
      parameters:
      - explode: true
        in: query
        name: pagination.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWorkspacesResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - WorkspaceService
  /v1/workspaces/{workspaceId}/products:
    get:
      operationId: ProductService_ListProducts
      parameters:
      - explode: false
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pagination.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListProductsResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - ProductService
    post:
      operationId: ProductService_CreateProduct
      parameters:
      - explode: false
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProductBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateProductResponse"
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: An unexpected error response.
      tags:
      - ProductService
components:
  schemas:
    AbortTestRunBody:
      type: object
    AbortTestRunResponse:
      example:
        run:
          branchId: branchId
          clientMeta:
            key: clientMeta
          completedAt: 2000-01-23T04:56:07.000+00:00
          liveDocOperationId: liveDocOperationId
          productId: productId
          seqNum: 0
          configurations:
            key: configurations
          buildSha: buildSha
          liveDocStats:
            testsCreated: testsCreated
            suitesCreated: suitesCreated
            testsUnchanged: testsUnchanged
            resultsBackfilled: resultsBackfilled
            testsUpdated: testsUpdated
          description: description
          branchName: branchName
          startedAt: 2000-01-23T04:56:07.000+00:00
          title: title
          liveDocStatus: liveDocStatus
          createdAt: 2000-01-23T04:56:07.000+00:00
          liveDocError: liveDocError
          environmentId: environmentId
          environmentSlug: environmentSlug
          stats:
            total: total
            blocked: blocked
            invalid: invalid
            passed: passed
            failed: failed
            muted: muted
            durationMs: durationMs
            skipped: skipped
            attempts: attempts
          createdBy: createdBy
          environmentName: environmentName
          id: id
          status: status
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        run:
          $ref: "#/components/schemas/TestRun"
      type: object
    AcceptRiskBody:
      example:
        reason: reason
        componentId: componentId
        releaseId: releaseId
        scope: VERDICT_SCOPE_UNSPECIFIED
        branch: branch
      properties:
        scope:
          $ref: "#/components/schemas/VerdictScope"
        releaseId:
          type: string
        branch:
          type: string
        componentId:
          title: empty = whole verdict
          type: string
        reason:
          title: required
          type: string
      type: object
    AcceptRiskResponse:
      example:
        verdict:
          branchId: branchId
          components:
          - ceiling: 6
            componentId: componentId
            residualRisk: 0.8008281904610115
            criteria:
            - score: 1.4658129805029452
              criterion: criterion
              accepted: true
              detail:
                openDefects:
                - severity: severity
                  count: 5
                - severity: severity
                  count: 5
                failingTests:
                - requirement: requirement
                  testCase: testCase
                - requirement: requirement
                  testCase: testCase
                coverageGap: coverageGap
              status: CRITERION_STATUS_UNSPECIFIED
              soft: true
            - score: 1.4658129805029452
              criterion: criterion
              accepted: true
              detail:
                openDefects:
                - severity: severity
                  count: 5
                - severity: severity
                  count: 5
                failingTests:
                - requirement: requirement
                  testCase: testCase
                - requirement: requirement
                  testCase: testCase
                coverageGap: coverageGap
              status: CRITERION_STATUS_UNSPECIFIED
              soft: true
            name: name
            status: null
          - ceiling: 6
            componentId: componentId
            residualRisk: 0.8008281904610115
            criteria:
            - score: 1.4658129805029452
              criterion: criterion
              accepted: true
              detail:
                openDefects:
                - severity: severity
                  count: 5
                - severity: severity
                  count: 5
                failingTests:
                - requirement: requirement
                  testCase: testCase
                - requirement: requirement
                  testCase: testCase
                coverageGap: coverageGap
              status: CRITERION_STATUS_UNSPECIFIED
              soft: true
            - score: 1.4658129805029452
              criterion: criterion
              accepted: true
              detail:
                openDefects:
                - severity: severity
                  count: 5
                - severity: severity
                  count: 5
                failingTests:
                - requirement: requirement
                  testCase: testCase
                - requirement: requirement
                  testCase: testCase
                coverageGap: coverageGap
              status: CRITERION_STATUS_UNSPECIFIED
              soft: true
            name: name
            status: null
          productId: productId
          fixHints:
          - component: component
            action: action
          - component: component
            action: action
          computedAt: 2000-01-23T04:56:07.000+00:00
          buildSha: buildSha
          subjects:
          - ceiling: 2
            criteria:
            - score: 1.4658129805029452
              criterion: criterion
              accepted: true
              detail:
                openDefects:
                - severity: severity
                  count: 5
                - severity: severity
                  count: 5
                failingTests:
                - requirement: requirement
                  testCase: testCase
                - requirement: requirement
                  testCase: testCase
                coverageGap: coverageGap
              status: CRITERION_STATUS_UNSPECIFIED
              soft: true
            - score: 1.4658129805029452
              criterion: criterion
              accepted: true
              detail:
                openDefects:
                - severity: severity
                  count: 5
                - severity: severity
                  count: 5
                failingTests:
                - requirement: requirement
                  testCase: testCase
                - requirement: requirement
                  testCase: testCase
                coverageGap: coverageGap
              status: CRITERION_STATUS_UNSPECIFIED
              soft: true
            residualRisk: 5.637376656633329
            issueSources:
            - issueSources
            - issueSources
            riskSource: riskSource
            name: name
            subjectType: subjectType
            subjectId: subjectId
            status: null
          - ceiling: 2
            criteria:
            - score: 1.4658129805029452
              criterion: criterion
              accepted: true
              detail:
                openDefects:
                - severity: severity
                  count: 5
                - severity: severity
                  count: 5
                failingTests:
                - requirement: requirement
                  testCase: testCase
                - requirement: requirement
                  testCase: testCase
                coverageGap: coverageGap
              status: CRITERION_STATUS_UNSPECIFIED
              soft: true
            - score: 1.4658129805029452
              criterion: criterion
              accepted: true
              detail:
                openDefects:
                - severity: severity
                  count: 5
                - severity: severity
                  count: 5
                failingTests:
                - requirement: requirement
                  testCase: testCase
                - requirement: requirement
                  testCase: testCase
                coverageGap: coverageGap
              status: CRITERION_STATUS_UNSPECIFIED
              soft: true
            residualRisk: 5.637376656633329
            issueSources:
            - issueSources
            - issueSources
            riskSource: riskSource
            name: name
            subjectType: subjectType
            subjectId: subjectId
            status: null
          invalidatedReason: invalidatedReason
          acceptanceRequired: true
          commitSha: commitSha
          invalidatedAt: 2000-01-23T04:56:07.000+00:00
          releaseId: releaseId
          scope: VERDICT_SCOPE_UNSPECIFIED
          stateWatermark: stateWatermark
          id: id
          status: VERDICT_STATUS_UNSPECIFIED
      properties:
        verdict:
          $ref: "#/components/schemas/Verdict"
      type: object
    AgentConfig:
      example:
        agentType: agentType
        productId: productId
        dataCredentialId: dataCredentialId
        enabled: true
        createdAt: 2000-01-23T04:56:07.000+00:00
        name: name
        scheduleCron: scheduleCron
        id: id
        scheduleTimezone: scheduleTimezone
        inputsJson: inputsJson
        llmCredentialId: llmCredentialId
        nextRunAt: 2000-01-23T04:56:07.000+00:00
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          type: string
        productId:
          type: string
        agentType:
          type: string
        name:
          type: string
        enabled:
          type: boolean
        inputsJson:
          title: JSON string; client parses against AgentType.input_schema_json
          type: string
        llmCredentialId:
          type: string
        dataCredentialId:
          type: string
        scheduleCron:
          type: string
        scheduleTimezone:
          type: string
        nextRunAt:
          format: date-time
          type: string
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
      type: object
    AgentMemoryContext:
      example:
        kind: kind
        citationId: citationId
        id: id
        key: key
        bodyMd: bodyMd
        tags:
        - tags
        - tags
      properties:
        id:
          type: string
        key:
          type: string
        kind:
          type: string
        bodyMd:
          type: string
        tags:
          items:
            type: string
          type: array
        citationId:
          type: string
      type: object
    AgentRun:
      example:
        branchId: branchId
        productId: productId
        llmInputTokens: llmInputTokens
        summaryMd: summaryMd
        triggerKind: triggerKind
        startedAt: 2000-01-23T04:56:07.000+00:00
        errorSummary: errorSummary
        finishedAt: 2000-01-23T04:56:07.000+00:00
        result:
          branchId: branchId
          added: 1
          rejected: 2
          kind: kind
          changes:
          - issueKey: issueKey
            issueUrl: issueUrl
            rejectReason: rejectReason
            decision: decision
            requirementSeq: 7
            requirementId: requirementId
            rationale: rationale
            status: status
          - issueKey: issueKey
            issueUrl: issueUrl
            rejectReason: rejectReason
            decision: decision
            requirementSeq: 7
            requirementId: requirementId
            rationale: rationale
            status: status
          branchName: branchName
          skipped: 5
          deleted: 3
          observations: 9
          alreadyLinked: 6
          passthrough: true
          updated: 5
          fetched: 0
        createdAt: 2000-01-23T04:56:07.000+00:00
        agentConfigId: agentConfigId
        llmOutputTokens: llmOutputTokens
        llmCostUsdCents: llmCostUsdCents
        step: step
        id: id
        triggerMetaJson: triggerMetaJson
        status: status
      properties:
        id:
          type: string
        agentConfigId:
          type: string
        productId:
          type: string
        triggerKind:
          title: '''manual'' | ''schedule'' | ''event'''
          type: string
        triggerMetaJson:
          type: string
        status:
          title: '''pending'' | ''running'' | ''succeeded'' | ''failed'' | ''cancelled''
            | ''timed_out'''
          type: string
        step:
          type: string
        startedAt:
          format: date-time
          type: string
        finishedAt:
          format: date-time
          type: string
        errorSummary:
          type: string
        branchId:
          type: string
        summaryMd:
          type: string
        llmInputTokens:
          format: int64
          type: string
        llmOutputTokens:
          format: int64
          type: string
        llmCostUsdCents:
          format: int64
          type: string
        createdAt:
          format: date-time
          type: string
        result:
          $ref: "#/components/schemas/AgentRunResult"
      type: object
    AgentRunEvent:
      example:
        level: level
        kind: kind
        id: id
        runId: runId
        message: message
        dataJson: dataJson
        ts: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          type: string
        runId:
          type: string
        ts:
          format: date-time
          type: string
        level:
          type: string
        kind:
          type: string
        message:
          type: string
        dataJson:
          type: string
      type: object
    AgentRunResult:
      description: |-
        AgentRunResult is the structured outcome of an agent run, so the UI can render
        cross-linked changes (requirements, branch, source items) instead of a
        markdown blob. Most fields describe connector-enrichment runs; `kind` lets the
        UI adapt the stat tiles for other shapes (e.g. exploratory browsing).
      example:
        branchId: branchId
        added: 1
        rejected: 2
        kind: kind
        changes:
        - issueKey: issueKey
          issueUrl: issueUrl
          rejectReason: rejectReason
          decision: decision
          requirementSeq: 7
          requirementId: requirementId
          rationale: rationale
          status: status
        - issueKey: issueKey
          issueUrl: issueUrl
          rejectReason: rejectReason
          decision: decision
          requirementSeq: 7
          requirementId: requirementId
          rationale: rationale
          status: status
        branchName: branchName
        skipped: 5
        deleted: 3
        observations: 9
        alreadyLinked: 6
        passthrough: true
        updated: 5
        fetched: 0
      properties:
        fetched:
          format: int32
          type: integer
        alreadyLinked:
          format: int32
          title: skipped before planning (already in the tree)
          type: integer
        added:
          format: int32
          type: integer
        updated:
          format: int32
          type: integer
        skipped:
          format: int32
          type: integer
        rejected:
          format: int32
          type: integer
        branchId:
          type: string
        branchName:
          type: string
        passthrough:
          title: ran without an LLM credential (deterministic ADD-only)
          type: boolean
        changes:
          items:
            $ref: "#/components/schemas/Change"
          type: array
        kind:
          title: "'' (enrichment, default) | 'exploratory' — UI picks the stat tiles"
          type: string
        observations:
          format: int32
          title: "exploratory: states observed while driving the app"
          type: integer
        deleted:
          format: int32
          title: requirements removed by the run
          type: integer
      type: object
    AgentType:
      description: AgentType is a code-defined agent capability surfaced in the catalog.
      example:
        needsDataCredential: true
        supportedProviders:
        - supportedProviders
        - supportedProviders
        inputSchemaJson: inputSchemaJson
        description: description
        producesBranch: true
        defaultModels:
          key: defaultModels
        title: title
        key: key
      properties:
[...]
