/*
Tiden Public API

REST API for external consumers: the tiden CLI, reporters, and generated API clients. Authenticate with an API token (`Authorization: Bearer tfy_...`) created in the app UI or via the CLI device-code flow.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package tidenapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type IntentSessionServiceAPI interface {

	/*
	IntentSessionServiceGetIntentSession Fetches one session by id.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param productId
	@param sessionId
	@return ApiIntentSessionServiceGetIntentSessionRequest
	*/
	IntentSessionServiceGetIntentSession(ctx context.Context, productId string, sessionId string) ApiIntentSessionServiceGetIntentSessionRequest

	// IntentSessionServiceGetIntentSessionExecute executes the request
	//  @return GetIntentSessionResponse
	IntentSessionServiceGetIntentSessionExecute(r ApiIntentSessionServiceGetIntentSessionRequest) (*GetIntentSessionResponse, *http.Response, error)

	/*
	IntentSessionServiceListIntentSessions Lists a product's sessions, most recently active first.

	Filter by status, git_branch (resolving "which session, if any, has this
branch open" for cross-machine continuation), or branch_id. Also serves
as the capability probe for the whole RPC family: an older server 404s
this collection route. effective_status ("expired" | "stale") filters by
the derived-expiry predicate instead of the stored status column — see
IntentSession.effective_status — and is rejected together with status.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param productId
	@return ApiIntentSessionServiceListIntentSessionsRequest
	*/
	IntentSessionServiceListIntentSessions(ctx context.Context, productId string) ApiIntentSessionServiceListIntentSessionsRequest

	// IntentSessionServiceListIntentSessionsExecute executes the request
	//  @return ListIntentSessionsResponse
	IntentSessionServiceListIntentSessionsExecute(r ApiIntentSessionServiceListIntentSessionsRequest) (*ListIntentSessionsResponse, *http.Response, error)

	/*
	IntentSessionServiceRecordSessionSettlement Records or amends a session's settlement decision.

	items are merged onto the stored settlement by item_id: resending an
item_id replaces its entry (the idempotent retry path after a partial
failure), a new item_id appends. nothing_to_distill replaces wholesale
and is mutually exclusive with items — sending one clears the other on
the stored row; sending both in the same request is rejected.
Validation here is structural only (enum membership, non-empty reason,
id fields parsing as UUIDs) — the CLI enforces the semantic rules (e.g.
judged_ids required when hops-0 is non-empty) since the server has no
way to know hops-0.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param productId
	@param sessionId
	@return ApiIntentSessionServiceRecordSessionSettlementRequest
	*/
	IntentSessionServiceRecordSessionSettlement(ctx context.Context, productId string, sessionId string) ApiIntentSessionServiceRecordSessionSettlementRequest

	// IntentSessionServiceRecordSessionSettlementExecute executes the request
	//  @return RecordSessionSettlementResponse
	IntentSessionServiceRecordSessionSettlementExecute(r ApiIntentSessionServiceRecordSessionSettlementRequest) (*RecordSessionSettlementResponse, *http.Response, error)

	/*
	IntentSessionServiceUpsertIntentSession Creates or patches a session, keyed by the client-generated session id.

	Only fields set in the request overwrite; every other column on the
existing row is left as-is. Creating a session (the first call for that
id) requires objective. status is forward-only
(provisional -> materialized -> closed); a closed session rejects any
further upsert, including one that doesn't touch status. Every call
refreshes last_activity_at. radius_drops, if present, are recorded as
radius_drop judgements under their supersede key
(session_id, phase, sorted requirement_ids).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param productId
	@return ApiIntentSessionServiceUpsertIntentSessionRequest
	*/
	IntentSessionServiceUpsertIntentSession(ctx context.Context, productId string) ApiIntentSessionServiceUpsertIntentSessionRequest

	// IntentSessionServiceUpsertIntentSessionExecute executes the request
	//  @return UpsertIntentSessionResponse
	IntentSessionServiceUpsertIntentSessionExecute(r ApiIntentSessionServiceUpsertIntentSessionRequest) (*UpsertIntentSessionResponse, *http.Response, error)
}

// IntentSessionServiceAPIService IntentSessionServiceAPI service
type IntentSessionServiceAPIService service

type ApiIntentSessionServiceGetIntentSessionRequest struct {
	ctx context.Context
	ApiService IntentSessionServiceAPI
	productId string
	sessionId string
}

func (r ApiIntentSessionServiceGetIntentSessionRequest) Execute() (*GetIntentSessionResponse, *http.Response, error) {
	return r.ApiService.IntentSessionServiceGetIntentSessionExecute(r)
}

/*
IntentSessionServiceGetIntentSession Fetches one session by id.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param productId
 @param sessionId
 @return ApiIntentSessionServiceGetIntentSessionRequest
*/
func (a *IntentSessionServiceAPIService) IntentSessionServiceGetIntentSession(ctx context.Context, productId string, sessionId string) ApiIntentSessionServiceGetIntentSessionRequest {
	return ApiIntentSessionServiceGetIntentSessionRequest{
		ApiService: a,
		ctx: ctx,
		productId: productId,
		sessionId: sessionId,
	}
}

// Execute executes the request
//  @return GetIntentSessionResponse
func (a *IntentSessionServiceAPIService) IntentSessionServiceGetIntentSessionExecute(r ApiIntentSessionServiceGetIntentSessionRequest) (*GetIntentSessionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetIntentSessionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IntentSessionServiceAPIService.IntentSessionServiceGetIntentSession")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/products/{productId}/intent-sessions/{sessionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"productId"+"}", url.PathEscape(parameterValueToString(r.productId, "productId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"sessionId"+"}", url.PathEscape(parameterValueToString(r.sessionId, "sessionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Status
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIntentSessionServiceListIntentSessionsRequest struct {
	ctx context.Context
	ApiService IntentSessionServiceAPI
	productId string
	status *string
	gitBranch *string
	branchId *string
	paginationPageSize *int32
	paginationPageToken *string
	effectiveStatus *string
}

// optional filter — the stored column, verbatim
func (r ApiIntentSessionServiceListIntentSessionsRequest) Status(status string) ApiIntentSessionServiceListIntentSessionsRequest {
	r.status = &status
	return r
}

// optional filter — cross-machine \&quot;find my open session\&quot;
func (r ApiIntentSessionServiceListIntentSessionsRequest) GitBranch(gitBranch string) ApiIntentSessionServiceListIntentSessionsRequest {
	r.gitBranch = &gitBranch
	return r
}

// optional filter
func (r ApiIntentSessionServiceListIntentSessionsRequest) BranchId(branchId string) ApiIntentSessionServiceListIntentSessionsRequest {
	r.branchId = &branchId
	return r
}

func (r ApiIntentSessionServiceListIntentSessionsRequest) PaginationPageSize(paginationPageSize int32) ApiIntentSessionServiceListIntentSessionsRequest {
	r.paginationPageSize = &paginationPageSize
	return r
}

func (r ApiIntentSessionServiceListIntentSessionsRequest) PaginationPageToken(paginationPageToken string) ApiIntentSessionServiceListIntentSessionsRequest {
	r.paginationPageToken = &paginationPageToken
	return r
}

// effective_status is an optional filter selecting by the DERIVED status instead of the stored column: \&quot;expired\&quot; (provisional sessions idle past the provisional TTL) or \&quot;stale\&quot; (materialized sessions idle past the materialized TTL). Mutually exclusive with status.
func (r ApiIntentSessionServiceListIntentSessionsRequest) EffectiveStatus(effectiveStatus string) ApiIntentSessionServiceListIntentSessionsRequest {
	r.effectiveStatus = &effectiveStatus
	return r
}

func (r ApiIntentSessionServiceListIntentSessionsRequest) Execute() (*ListIntentSessionsResponse, *http.Response, error) {
	return r.ApiService.IntentSessionServiceListIntentSessionsExecute(r)
}

/*
IntentSessionServiceListIntentSessions Lists a product's sessions, most recently active first.

Filter by status, git_branch (resolving "which session, if any, has this
branch open" for cross-machine continuation), or branch_id. Also serves
as the capability probe for the whole RPC family: an older server 404s
this collection route. effective_status ("expired" | "stale") filters by
the derived-expiry predicate instead of the stored status column — see
IntentSession.effective_status — and is rejected together with status.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param productId
 @return ApiIntentSessionServiceListIntentSessionsRequest
*/
func (a *IntentSessionServiceAPIService) IntentSessionServiceListIntentSessions(ctx context.Context, productId string) ApiIntentSessionServiceListIntentSessionsRequest {
	return ApiIntentSessionServiceListIntentSessionsRequest{
		ApiService: a,
		ctx: ctx,
		productId: productId,
	}
}

// Execute executes the request
//  @return ListIntentSessionsResponse
func (a *IntentSessionServiceAPIService) IntentSessionServiceListIntentSessionsExecute(r ApiIntentSessionServiceListIntentSessionsRequest) (*ListIntentSessionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListIntentSessionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IntentSessionServiceAPIService.IntentSessionServiceListIntentSessions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/products/{productId}/intent-sessions"
	localVarPath = strings.Replace(localVarPath, "{"+"productId"+"}", url.PathEscape(parameterValueToString(r.productId, "productId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.gitBranch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gitBranch", r.gitBranch, "form", "")
	}
	if r.branchId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branchId", r.branchId, "form", "")
	}
	if r.paginationPageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination.pageSize", r.paginationPageSize, "form", "")
	}
	if r.paginationPageToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination.pageToken", r.paginationPageToken, "form", "")
	}
	if r.effectiveStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "effectiveStatus", r.effectiveStatus, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Status
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIntentSessionServiceRecordSessionSettlementRequest struct {
	ctx context.Context
	ApiService IntentSessionServiceAPI
	productId string
	sessionId string
	recordSessionSettlementBody *RecordSessionSettlementBody
}

func (r ApiIntentSessionServiceRecordSessionSettlementRequest) RecordSessionSettlementBody(recordSessionSettlementBody RecordSessionSettlementBody) ApiIntentSessionServiceRecordSessionSettlementRequest {
	r.recordSessionSettlementBody = &recordSessionSettlementBody
	return r
}

func (r ApiIntentSessionServiceRecordSessionSettlementRequest) Execute() (*RecordSessionSettlementResponse, *http.Response, error) {
	return r.ApiService.IntentSessionServiceRecordSessionSettlementExecute(r)
}

/*
IntentSessionServiceRecordSessionSettlement Records or amends a session's settlement decision.

items are merged onto the stored settlement by item_id: resending an
item_id replaces its entry (the idempotent retry path after a partial
failure), a new item_id appends. nothing_to_distill replaces wholesale
and is mutually exclusive with items — sending one clears the other on
the stored row; sending both in the same request is rejected.
Validation here is structural only (enum membership, non-empty reason,
id fields parsing as UUIDs) — the CLI enforces the semantic rules (e.g.
judged_ids required when hops-0 is non-empty) since the server has no
way to know hops-0.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param productId
 @param sessionId
 @return ApiIntentSessionServiceRecordSessionSettlementRequest
*/
func (a *IntentSessionServiceAPIService) IntentSessionServiceRecordSessionSettlement(ctx context.Context, productId string, sessionId string) ApiIntentSessionServiceRecordSessionSettlementRequest {
	return ApiIntentSessionServiceRecordSessionSettlementRequest{
		ApiService: a,
		ctx: ctx,
		productId: productId,
		sessionId: sessionId,
	}
}

// Execute executes the request
//  @return RecordSessionSettlementResponse
func (a *IntentSessionServiceAPIService) IntentSessionServiceRecordSessionSettlementExecute(r ApiIntentSessionServiceRecordSessionSettlementRequest) (*RecordSessionSettlementResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RecordSessionSettlementResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IntentSessionServiceAPIService.IntentSessionServiceRecordSessionSettlement")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/products/{productId}/intent-sessions/{sessionId}:settle"
	localVarPath = strings.Replace(localVarPath, "{"+"productId"+"}", url.PathEscape(parameterValueToString(r.productId, "productId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"sessionId"+"}", url.PathEscape(parameterValueToString(r.sessionId, "sessionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.recordSessionSettlementBody == nil {
		return localVarReturnValue, nil, reportError("recordSessionSettlementBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.recordSessionSettlementBody
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Status
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIntentSessionServiceUpsertIntentSessionRequest struct {
	ctx context.Context
	ApiService IntentSessionServiceAPI
	productId string
	upsertIntentSessionBody *UpsertIntentSessionBody
}

func (r ApiIntentSessionServiceUpsertIntentSessionRequest) UpsertIntentSessionBody(upsertIntentSessionBody UpsertIntentSessionBody) ApiIntentSessionServiceUpsertIntentSessionRequest {
	r.upsertIntentSessionBody = &upsertIntentSessionBody
	return r
}

func (r ApiIntentSessionServiceUpsertIntentSessionRequest) Execute() (*UpsertIntentSessionResponse, *http.Response, error) {
	return r.ApiService.IntentSessionServiceUpsertIntentSessionExecute(r)
}

/*
IntentSessionServiceUpsertIntentSession Creates or patches a session, keyed by the client-generated session id.

Only fields set in the request overwrite; every other column on the
existing row is left as-is. Creating a session (the first call for that
id) requires objective. status is forward-only
(provisional -> materialized -> closed); a closed session rejects any
further upsert, including one that doesn't touch status. Every call
refreshes last_activity_at. radius_drops, if present, are recorded as
radius_drop judgements under their supersede key
(session_id, phase, sorted requirement_ids).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param productId
 @return ApiIntentSessionServiceUpsertIntentSessionRequest
*/
func (a *IntentSessionServiceAPIService) IntentSessionServiceUpsertIntentSession(ctx context.Context, productId string) ApiIntentSessionServiceUpsertIntentSessionRequest {
	return ApiIntentSessionServiceUpsertIntentSessionRequest{
		ApiService: a,
		ctx: ctx,
		productId: productId,
	}
}

// Execute executes the request
//  @return UpsertIntentSessionResponse
func (a *IntentSessionServiceAPIService) IntentSessionServiceUpsertIntentSessionExecute(r ApiIntentSessionServiceUpsertIntentSessionRequest) (*UpsertIntentSessionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpsertIntentSessionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IntentSessionServiceAPIService.IntentSessionServiceUpsertIntentSession")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/products/{productId}/intent-sessions"
	localVarPath = strings.Replace(localVarPath, "{"+"productId"+"}", url.PathEscape(parameterValueToString(r.productId, "productId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.upsertIntentSessionBody == nil {
		return localVarReturnValue, nil, reportError("upsertIntentSessionBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.upsertIntentSessionBody
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Status
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
