/*
Tiden Public API

REST API for external consumers: the tiden CLI, reporters, and generated API clients. Authenticate with an API token (`Authorization: Bearer tfy_...`) created in the app UI or via the CLI device-code flow.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package tidenapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type IntentServiceAPI interface {

	/*
	IntentServiceDistillIntent Distills a coding-session transcript into requirement changes.

	Runs an LLM reconciliation of the transcript against the product's
requirement tree and writes the created/updated requirements to an
intent/YYYY-MM-DD-<slug> branch for review (slug defaults to "session";
same-day non-open branch names get a -2..-9 suffix). Requires a usable
llm.* workspace credential (credential_id overrides the default). An empty
transcript is a readiness probe: configuration is validated and the call
reports skipped=true without invoking the LLM.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param productId Product whose requirement tree the intent is reconciled against.
	@return ApiIntentServiceDistillIntentRequest
	*/
	IntentServiceDistillIntent(ctx context.Context, productId string) ApiIntentServiceDistillIntentRequest

	// IntentServiceDistillIntentExecute executes the request
	//  @return DistillIntentResponse
	IntentServiceDistillIntentExecute(r ApiIntentServiceDistillIntentRequest) (*DistillIntentResponse, *http.Response, error)
}

// IntentServiceAPIService IntentServiceAPI service
type IntentServiceAPIService service

type ApiIntentServiceDistillIntentRequest struct {
	ctx context.Context
	ApiService IntentServiceAPI
	productId string
	distillIntentBody *DistillIntentBody
}

func (r ApiIntentServiceDistillIntentRequest) DistillIntentBody(distillIntentBody DistillIntentBody) ApiIntentServiceDistillIntentRequest {
	r.distillIntentBody = &distillIntentBody
	return r
}

func (r ApiIntentServiceDistillIntentRequest) Execute() (*DistillIntentResponse, *http.Response, error) {
	return r.ApiService.IntentServiceDistillIntentExecute(r)
}

/*
IntentServiceDistillIntent Distills a coding-session transcript into requirement changes.

Runs an LLM reconciliation of the transcript against the product's
requirement tree and writes the created/updated requirements to an
intent/YYYY-MM-DD-<slug> branch for review (slug defaults to "session";
same-day non-open branch names get a -2..-9 suffix). Requires a usable
llm.* workspace credential (credential_id overrides the default). An empty
transcript is a readiness probe: configuration is validated and the call
reports skipped=true without invoking the LLM.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param productId Product whose requirement tree the intent is reconciled against.
 @return ApiIntentServiceDistillIntentRequest
*/
func (a *IntentServiceAPIService) IntentServiceDistillIntent(ctx context.Context, productId string) ApiIntentServiceDistillIntentRequest {
	return ApiIntentServiceDistillIntentRequest{
		ApiService: a,
		ctx: ctx,
		productId: productId,
	}
}

// Execute executes the request
//  @return DistillIntentResponse
func (a *IntentServiceAPIService) IntentServiceDistillIntentExecute(r ApiIntentServiceDistillIntentRequest) (*DistillIntentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DistillIntentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IntentServiceAPIService.IntentServiceDistillIntent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/products/{productId}/intent:distill"
	localVarPath = strings.Replace(localVarPath, "{"+"productId"+"}", url.PathEscape(parameterValueToString(r.productId, "productId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.distillIntentBody == nil {
		return localVarReturnValue, nil, reportError("distillIntentBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.distillIntentBody
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Status
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
