/*
Tiden Public API

REST API for external consumers: the tiden CLI, reporters, and generated API clients. Authenticate with an API token (`Authorization: Bearer tfy_...`) created in the app UI or via the CLI device-code flow.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package tidenapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type IssueServiceAPI interface {

	/*
	IssueServiceConfirmSourceMapUpload Phase 3: server validates the staged object + atomically promotes to live. Exempt: addressed by source-map id (the product-gated entry point is CreateSourceMapUpload); source maps are observability infra, not a billed cap.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiIssueServiceConfirmSourceMapUploadRequest
	*/
	IssueServiceConfirmSourceMapUpload(ctx context.Context, id string) ApiIssueServiceConfirmSourceMapUploadRequest

	// IssueServiceConfirmSourceMapUploadExecute executes the request
	//  @return ConfirmSourceMapUploadResponse
	IssueServiceConfirmSourceMapUploadExecute(r ApiIssueServiceConfirmSourceMapUploadRequest) (*ConfirmSourceMapUploadResponse, *http.Response, error)

	/*
	IssueServiceCreateSourceMapUpload Phase 1: create a pending row, return a presigned PUT to a staging key.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param productId
	@return ApiIssueServiceCreateSourceMapUploadRequest
	*/
	IssueServiceCreateSourceMapUpload(ctx context.Context, productId string) ApiIssueServiceCreateSourceMapUploadRequest

	// IssueServiceCreateSourceMapUploadExecute executes the request
	//  @return CreateSourceMapUploadResponse
	IssueServiceCreateSourceMapUploadExecute(r ApiIssueServiceCreateSourceMapUploadRequest) (*CreateSourceMapUploadResponse, *http.Response, error)
}

// IssueServiceAPIService IssueServiceAPI service
type IssueServiceAPIService service

type ApiIssueServiceConfirmSourceMapUploadRequest struct {
	ctx context.Context
	ApiService IssueServiceAPI
	id string
	body *map[string]interface{}
}

func (r ApiIssueServiceConfirmSourceMapUploadRequest) Body(body map[string]interface{}) ApiIssueServiceConfirmSourceMapUploadRequest {
	r.body = &body
	return r
}

func (r ApiIssueServiceConfirmSourceMapUploadRequest) Execute() (*ConfirmSourceMapUploadResponse, *http.Response, error) {
	return r.ApiService.IssueServiceConfirmSourceMapUploadExecute(r)
}

/*
IssueServiceConfirmSourceMapUpload Phase 3: server validates the staged object + atomically promotes to live. Exempt: addressed by source-map id (the product-gated entry point is CreateSourceMapUpload); source maps are observability infra, not a billed cap.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiIssueServiceConfirmSourceMapUploadRequest
*/
func (a *IssueServiceAPIService) IssueServiceConfirmSourceMapUpload(ctx context.Context, id string) ApiIssueServiceConfirmSourceMapUploadRequest {
	return ApiIssueServiceConfirmSourceMapUploadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ConfirmSourceMapUploadResponse
func (a *IssueServiceAPIService) IssueServiceConfirmSourceMapUploadExecute(r ApiIssueServiceConfirmSourceMapUploadRequest) (*ConfirmSourceMapUploadResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConfirmSourceMapUploadResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssueServiceAPIService.IssueServiceConfirmSourceMapUpload")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sourcemaps/{id}:confirm"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Status
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIssueServiceCreateSourceMapUploadRequest struct {
	ctx context.Context
	ApiService IssueServiceAPI
	productId string
	createSourceMapUploadBody *CreateSourceMapUploadBody
}

func (r ApiIssueServiceCreateSourceMapUploadRequest) CreateSourceMapUploadBody(createSourceMapUploadBody CreateSourceMapUploadBody) ApiIssueServiceCreateSourceMapUploadRequest {
	r.createSourceMapUploadBody = &createSourceMapUploadBody
	return r
}

func (r ApiIssueServiceCreateSourceMapUploadRequest) Execute() (*CreateSourceMapUploadResponse, *http.Response, error) {
	return r.ApiService.IssueServiceCreateSourceMapUploadExecute(r)
}

/*
IssueServiceCreateSourceMapUpload Phase 1: create a pending row, return a presigned PUT to a staging key.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param productId
 @return ApiIssueServiceCreateSourceMapUploadRequest
*/
func (a *IssueServiceAPIService) IssueServiceCreateSourceMapUpload(ctx context.Context, productId string) ApiIssueServiceCreateSourceMapUploadRequest {
	return ApiIssueServiceCreateSourceMapUploadRequest{
		ApiService: a,
		ctx: ctx,
		productId: productId,
	}
}

// Execute executes the request
//  @return CreateSourceMapUploadResponse
func (a *IssueServiceAPIService) IssueServiceCreateSourceMapUploadExecute(r ApiIssueServiceCreateSourceMapUploadRequest) (*CreateSourceMapUploadResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateSourceMapUploadResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssueServiceAPIService.IssueServiceCreateSourceMapUpload")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/products/{productId}/sourcemaps"
	localVarPath = strings.Replace(localVarPath, "{"+"productId"+"}", url.PathEscape(parameterValueToString(r.productId, "productId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createSourceMapUploadBody == nil {
		return localVarReturnValue, nil, reportError("createSourceMapUploadBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createSourceMapUploadBody
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Status
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
