/*
Tiden Public API

REST API for external consumers: the tiden CLI, reporters, and generated API clients. Authenticate with an API token (`Authorization: Bearer tfy_...`) created in the app UI or via the CLI device-code flow.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package tidenapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type WorkspaceServiceAPI interface {

	/*
	WorkspaceServiceListWorkspaces Lists the workspaces the caller belongs to.

	Returns each workspace with its slug and organization id, paginated via
pagination.page_size/page_token. The CLI uses it to resolve which
workspace an API token operates in.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiWorkspaceServiceListWorkspacesRequest
	*/
	WorkspaceServiceListWorkspaces(ctx context.Context) ApiWorkspaceServiceListWorkspacesRequest

	// WorkspaceServiceListWorkspacesExecute executes the request
	//  @return ListWorkspacesResponse
	WorkspaceServiceListWorkspacesExecute(r ApiWorkspaceServiceListWorkspacesRequest) (*ListWorkspacesResponse, *http.Response, error)
}

// WorkspaceServiceAPIService WorkspaceServiceAPI service
type WorkspaceServiceAPIService service

type ApiWorkspaceServiceListWorkspacesRequest struct {
	ctx context.Context
	ApiService WorkspaceServiceAPI
	paginationPageSize *int32
	paginationPageToken *string
}

func (r ApiWorkspaceServiceListWorkspacesRequest) PaginationPageSize(paginationPageSize int32) ApiWorkspaceServiceListWorkspacesRequest {
	r.paginationPageSize = &paginationPageSize
	return r
}

func (r ApiWorkspaceServiceListWorkspacesRequest) PaginationPageToken(paginationPageToken string) ApiWorkspaceServiceListWorkspacesRequest {
	r.paginationPageToken = &paginationPageToken
	return r
}

func (r ApiWorkspaceServiceListWorkspacesRequest) Execute() (*ListWorkspacesResponse, *http.Response, error) {
	return r.ApiService.WorkspaceServiceListWorkspacesExecute(r)
}

/*
WorkspaceServiceListWorkspaces Lists the workspaces the caller belongs to.

Returns each workspace with its slug and organization id, paginated via
pagination.page_size/page_token. The CLI uses it to resolve which
workspace an API token operates in.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWorkspaceServiceListWorkspacesRequest
*/
func (a *WorkspaceServiceAPIService) WorkspaceServiceListWorkspaces(ctx context.Context) ApiWorkspaceServiceListWorkspacesRequest {
	return ApiWorkspaceServiceListWorkspacesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListWorkspacesResponse
func (a *WorkspaceServiceAPIService) WorkspaceServiceListWorkspacesExecute(r ApiWorkspaceServiceListWorkspacesRequest) (*ListWorkspacesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListWorkspacesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkspaceServiceAPIService.WorkspaceServiceListWorkspaces")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workspaces"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.paginationPageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination.pageSize", r.paginationPageSize, "form", "")
	}
	if r.paginationPageToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination.pageToken", r.paginationPageToken, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Status
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
