/*
Tiden Public API

REST API for external consumers: the tiden CLI, reporters, and generated API clients. Authenticate with an API token (`Authorization: Bearer tfy_...`) created in the app UI or via the CLI device-code flow.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package tidenapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type QualityGateServiceAPI interface {

	/*
	QualityGateServiceAcceptRisk Record a sign-off on a 🟡 (soft-signal) verdict so it becomes shippable. Hard-blocked (🔴) verdicts can't be accepted. High-severity components need a distinct 2nd approver (ApproveRisk); low-severity self-approve.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param productId
	@return ApiQualityGateServiceAcceptRiskRequest
	*/
	QualityGateServiceAcceptRisk(ctx context.Context, productId string) ApiQualityGateServiceAcceptRiskRequest

	// QualityGateServiceAcceptRiskExecute executes the request
	//  @return AcceptRiskResponse
	QualityGateServiceAcceptRiskExecute(r ApiQualityGateServiceAcceptRiskRequest) (*AcceptRiskResponse, *http.Response, error)

	/*
	QualityGateServiceApproveRisk Second-approver sign-off for a pending acceptance (must differ from the recorder).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param productId
	@return ApiQualityGateServiceApproveRiskRequest
	*/
	QualityGateServiceApproveRisk(ctx context.Context, productId string) ApiQualityGateServiceApproveRiskRequest

	// QualityGateServiceApproveRiskExecute executes the request
	//  @return ApproveRiskResponse
	QualityGateServiceApproveRiskExecute(r ApiQualityGateServiceApproveRiskRequest) (*ApproveRiskResponse, *http.Response, error)

	/*
	QualityGateServiceComputeVerdict Compute (or recompute) the verdict for a release or branch scope and persist an immutable snapshot. Side-effecting; the engine is idempotent on the current data state (CAS on publish).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param productId
	@return ApiQualityGateServiceComputeVerdictRequest
	*/
	QualityGateServiceComputeVerdict(ctx context.Context, productId string) ApiQualityGateServiceComputeVerdictRequest

	// QualityGateServiceComputeVerdictExecute executes the request
	//  @return ComputeVerdictResponse
	QualityGateServiceComputeVerdictExecute(r ApiQualityGateServiceComputeVerdictRequest) (*ComputeVerdictResponse, *http.Response, error)

	/*
	QualityGateServiceGetTraceability The traceability-matrix slice the verdict was computed over (req x case by component), for the matrix page and audit.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param productId
	@return ApiQualityGateServiceGetTraceabilityRequest
	*/
	QualityGateServiceGetTraceability(ctx context.Context, productId string) ApiQualityGateServiceGetTraceabilityRequest

	// QualityGateServiceGetTraceabilityExecute executes the request
	//  @return GetTraceabilityResponse
	QualityGateServiceGetTraceabilityExecute(r ApiQualityGateServiceGetTraceabilityRequest) (*GetTraceabilityResponse, *http.Response, error)

	/*
	QualityGateServiceGetVerdict Latest non-invalidated verdict for a (scope, ref). On no-go the agent reads the structured component/criterion breakdown + fix hints from here.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param productId
	@return ApiQualityGateServiceGetVerdictRequest
	*/
	QualityGateServiceGetVerdict(ctx context.Context, productId string) ApiQualityGateServiceGetVerdictRequest

	// QualityGateServiceGetVerdictExecute executes the request
	//  @return GetVerdictResponse
	QualityGateServiceGetVerdictExecute(r ApiQualityGateServiceGetVerdictRequest) (*GetVerdictResponse, *http.Response, error)
}

// QualityGateServiceAPIService QualityGateServiceAPI service
type QualityGateServiceAPIService service

type ApiQualityGateServiceAcceptRiskRequest struct {
	ctx context.Context
	ApiService QualityGateServiceAPI
	productId string
	acceptRiskBody *AcceptRiskBody
}

func (r ApiQualityGateServiceAcceptRiskRequest) AcceptRiskBody(acceptRiskBody AcceptRiskBody) ApiQualityGateServiceAcceptRiskRequest {
	r.acceptRiskBody = &acceptRiskBody
	return r
}

func (r ApiQualityGateServiceAcceptRiskRequest) Execute() (*AcceptRiskResponse, *http.Response, error) {
	return r.ApiService.QualityGateServiceAcceptRiskExecute(r)
}

/*
QualityGateServiceAcceptRisk Record a sign-off on a 🟡 (soft-signal) verdict so it becomes shippable. Hard-blocked (🔴) verdicts can't be accepted. High-severity components need a distinct 2nd approver (ApproveRisk); low-severity self-approve.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param productId
 @return ApiQualityGateServiceAcceptRiskRequest
*/
func (a *QualityGateServiceAPIService) QualityGateServiceAcceptRisk(ctx context.Context, productId string) ApiQualityGateServiceAcceptRiskRequest {
	return ApiQualityGateServiceAcceptRiskRequest{
		ApiService: a,
		ctx: ctx,
		productId: productId,
	}
}

// Execute executes the request
//  @return AcceptRiskResponse
func (a *QualityGateServiceAPIService) QualityGateServiceAcceptRiskExecute(r ApiQualityGateServiceAcceptRiskRequest) (*AcceptRiskResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AcceptRiskResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QualityGateServiceAPIService.QualityGateServiceAcceptRisk")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/products/{productId}/quality-gate:accept-risk"
	localVarPath = strings.Replace(localVarPath, "{"+"productId"+"}", url.PathEscape(parameterValueToString(r.productId, "productId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.acceptRiskBody == nil {
		return localVarReturnValue, nil, reportError("acceptRiskBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.acceptRiskBody
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Status
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiQualityGateServiceApproveRiskRequest struct {
	ctx context.Context
	ApiService QualityGateServiceAPI
	productId string
	approveRiskBody *ApproveRiskBody
}

func (r ApiQualityGateServiceApproveRiskRequest) ApproveRiskBody(approveRiskBody ApproveRiskBody) ApiQualityGateServiceApproveRiskRequest {
	r.approveRiskBody = &approveRiskBody
	return r
}

func (r ApiQualityGateServiceApproveRiskRequest) Execute() (*ApproveRiskResponse, *http.Response, error) {
	return r.ApiService.QualityGateServiceApproveRiskExecute(r)
}

/*
QualityGateServiceApproveRisk Second-approver sign-off for a pending acceptance (must differ from the recorder).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param productId
 @return ApiQualityGateServiceApproveRiskRequest
*/
func (a *QualityGateServiceAPIService) QualityGateServiceApproveRisk(ctx context.Context, productId string) ApiQualityGateServiceApproveRiskRequest {
	return ApiQualityGateServiceApproveRiskRequest{
		ApiService: a,
		ctx: ctx,
		productId: productId,
	}
}

// Execute executes the request
//  @return ApproveRiskResponse
func (a *QualityGateServiceAPIService) QualityGateServiceApproveRiskExecute(r ApiQualityGateServiceApproveRiskRequest) (*ApproveRiskResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApproveRiskResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QualityGateServiceAPIService.QualityGateServiceApproveRisk")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/products/{productId}/quality-gate:approve-risk"
	localVarPath = strings.Replace(localVarPath, "{"+"productId"+"}", url.PathEscape(parameterValueToString(r.productId, "productId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.approveRiskBody == nil {
		return localVarReturnValue, nil, reportError("approveRiskBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.approveRiskBody
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Status
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiQualityGateServiceComputeVerdictRequest struct {
	ctx context.Context
	ApiService QualityGateServiceAPI
	productId string
	computeVerdictBody *ComputeVerdictBody
}

func (r ApiQualityGateServiceComputeVerdictRequest) ComputeVerdictBody(computeVerdictBody ComputeVerdictBody) ApiQualityGateServiceComputeVerdictRequest {
	r.computeVerdictBody = &computeVerdictBody
	return r
}

func (r ApiQualityGateServiceComputeVerdictRequest) Execute() (*ComputeVerdictResponse, *http.Response, error) {
	return r.ApiService.QualityGateServiceComputeVerdictExecute(r)
}

/*
QualityGateServiceComputeVerdict Compute (or recompute) the verdict for a release or branch scope and persist an immutable snapshot. Side-effecting; the engine is idempotent on the current data state (CAS on publish).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param productId
 @return ApiQualityGateServiceComputeVerdictRequest
*/
func (a *QualityGateServiceAPIService) QualityGateServiceComputeVerdict(ctx context.Context, productId string) ApiQualityGateServiceComputeVerdictRequest {
	return ApiQualityGateServiceComputeVerdictRequest{
		ApiService: a,
		ctx: ctx,
		productId: productId,
	}
}

// Execute executes the request
//  @return ComputeVerdictResponse
func (a *QualityGateServiceAPIService) QualityGateServiceComputeVerdictExecute(r ApiQualityGateServiceComputeVerdictRequest) (*ComputeVerdictResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ComputeVerdictResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QualityGateServiceAPIService.QualityGateServiceComputeVerdict")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/products/{productId}/quality-gate:compute"
	localVarPath = strings.Replace(localVarPath, "{"+"productId"+"}", url.PathEscape(parameterValueToString(r.productId, "productId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.computeVerdictBody == nil {
		return localVarReturnValue, nil, reportError("computeVerdictBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.computeVerdictBody
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Status
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiQualityGateServiceGetTraceabilityRequest struct {
	ctx context.Context
	ApiService QualityGateServiceAPI
	productId string
	scope *string
	releaseId *string
	branch *string
	subjectType *string
	subjectId *string
}

//  - VERDICT_SCOPE_RELEASE: canonical, against main-live entities of a release build  - VERDICT_SCOPE_BRANCH: pre-merge preview, against the merge-preview projection  - VERDICT_SCOPE_MAIN: current main, not tied to a release (latest exec per test)
func (r ApiQualityGateServiceGetTraceabilityRequest) Scope(scope string) ApiQualityGateServiceGetTraceabilityRequest {
	r.scope = &scope
	return r
}

func (r ApiQualityGateServiceGetTraceabilityRequest) ReleaseId(releaseId string) ApiQualityGateServiceGetTraceabilityRequest {
	r.releaseId = &releaseId
	return r
}

func (r ApiQualityGateServiceGetTraceabilityRequest) Branch(branch string) ApiQualityGateServiceGetTraceabilityRequest {
	r.branch = &branch
	return r
}

// filter the matrix to one subject (\&quot;component\&quot;|\&quot;feature\&quot;)
func (r ApiQualityGateServiceGetTraceabilityRequest) SubjectType(subjectType string) ApiQualityGateServiceGetTraceabilityRequest {
	r.subjectType = &subjectType
	return r
}

// paired with subject_type
func (r ApiQualityGateServiceGetTraceabilityRequest) SubjectId(subjectId string) ApiQualityGateServiceGetTraceabilityRequest {
	r.subjectId = &subjectId
	return r
}

func (r ApiQualityGateServiceGetTraceabilityRequest) Execute() (*GetTraceabilityResponse, *http.Response, error) {
	return r.ApiService.QualityGateServiceGetTraceabilityExecute(r)
}

/*
QualityGateServiceGetTraceability The traceability-matrix slice the verdict was computed over (req x case by component), for the matrix page and audit.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param productId
 @return ApiQualityGateServiceGetTraceabilityRequest
*/
func (a *QualityGateServiceAPIService) QualityGateServiceGetTraceability(ctx context.Context, productId string) ApiQualityGateServiceGetTraceabilityRequest {
	return ApiQualityGateServiceGetTraceabilityRequest{
		ApiService: a,
		ctx: ctx,
		productId: productId,
	}
}

// Execute executes the request
//  @return GetTraceabilityResponse
func (a *QualityGateServiceAPIService) QualityGateServiceGetTraceabilityExecute(r ApiQualityGateServiceGetTraceabilityRequest) (*GetTraceabilityResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetTraceabilityResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QualityGateServiceAPIService.QualityGateServiceGetTraceability")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/products/{productId}/quality-gate/traceability"
	localVarPath = strings.Replace(localVarPath, "{"+"productId"+"}", url.PathEscape(parameterValueToString(r.productId, "productId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "")
	} else {
		var defaultValue string = "VERDICT_SCOPE_UNSPECIFIED"
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", defaultValue, "form", "")
		r.scope = &defaultValue
	}
	if r.releaseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "releaseId", r.releaseId, "form", "")
	}
	if r.branch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branch", r.branch, "form", "")
	}
	if r.subjectType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subjectType", r.subjectType, "form", "")
	}
	if r.subjectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subjectId", r.subjectId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Status
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiQualityGateServiceGetVerdictRequest struct {
	ctx context.Context
	ApiService QualityGateServiceAPI
	productId string
	scope *string
	releaseId *string
	branch *string
	subjectType *string
	subjectId *string
}

//  - VERDICT_SCOPE_RELEASE: canonical, against main-live entities of a release build  - VERDICT_SCOPE_BRANCH: pre-merge preview, against the merge-preview projection  - VERDICT_SCOPE_MAIN: current main, not tied to a release (latest exec per test)
func (r ApiQualityGateServiceGetVerdictRequest) Scope(scope string) ApiQualityGateServiceGetVerdictRequest {
	r.scope = &scope
	return r
}

func (r ApiQualityGateServiceGetVerdictRequest) ReleaseId(releaseId string) ApiQualityGateServiceGetVerdictRequest {
	r.releaseId = &releaseId
	return r
}

func (r ApiQualityGateServiceGetVerdictRequest) Branch(branch string) ApiQualityGateServiceGetVerdictRequest {
	r.branch = &branch
	return r
}

// filter the result to one subject (\&quot;component\&quot;|\&quot;feature\&quot;|\&quot;product\&quot;)
func (r ApiQualityGateServiceGetVerdictRequest) SubjectType(subjectType string) ApiQualityGateServiceGetVerdictRequest {
	r.subjectType = &subjectType
	return r
}

// paired with subject_type
func (r ApiQualityGateServiceGetVerdictRequest) SubjectId(subjectId string) ApiQualityGateServiceGetVerdictRequest {
	r.subjectId = &subjectId
	return r
}

func (r ApiQualityGateServiceGetVerdictRequest) Execute() (*GetVerdictResponse, *http.Response, error) {
	return r.ApiService.QualityGateServiceGetVerdictExecute(r)
}

/*
QualityGateServiceGetVerdict Latest non-invalidated verdict for a (scope, ref). On no-go the agent reads the structured component/criterion breakdown + fix hints from here.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param productId
 @return ApiQualityGateServiceGetVerdictRequest
*/
func (a *QualityGateServiceAPIService) QualityGateServiceGetVerdict(ctx context.Context, productId string) ApiQualityGateServiceGetVerdictRequest {
	return ApiQualityGateServiceGetVerdictRequest{
		ApiService: a,
		ctx: ctx,
		productId: productId,
	}
}

// Execute executes the request
//  @return GetVerdictResponse
func (a *QualityGateServiceAPIService) QualityGateServiceGetVerdictExecute(r ApiQualityGateServiceGetVerdictRequest) (*GetVerdictResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetVerdictResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QualityGateServiceAPIService.QualityGateServiceGetVerdict")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/products/{productId}/quality-gate"
	localVarPath = strings.Replace(localVarPath, "{"+"productId"+"}", url.PathEscape(parameterValueToString(r.productId, "productId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "")
	} else {
		var defaultValue string = "VERDICT_SCOPE_UNSPECIFIED"
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", defaultValue, "form", "")
		r.scope = &defaultValue
	}
	if r.releaseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "releaseId", r.releaseId, "form", "")
	}
	if r.branch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branch", r.branch, "form", "")
	}
	if r.subjectType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subjectType", r.subjectType, "form", "")
	}
	if r.subjectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subjectId", r.subjectId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Status
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
